// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

@keyframes bannermove {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

// 헤더 드롭다운 메뉴 실행 시 스크롤 기능 막아줌
body.show {
    overflow-y:hidden;
    transition: all .7s;
}

#container {
    width: 100vw;
    background-color: $jBeige;
    margin-top:75px;
    > div {
        width: 100%;
        margin: 0 auto;
        // 전체상품 페이지
        &.navis_wrap {
            text-align: center;
            > h2 {
                font-family: $headline;
                font-size: 6vw;
                color: $jDarkGreen;
                line-height: 150%;
            }
            .sorts {
                display: flex;
                justify-content: center;
                font-size: 1.5vw;
                border: 2px solid $jDarkGreen;
                border-left: none;
                border-right: none;
                > li {
                    font-family: $headline;
                    width: 50%;
                    line-height: 280%;
                    > a {
                        display: block;
                        color: $jDarkGreen;
                    }
                    &:hover {
                        background-color: $jGreen;
                        > a {
                            color: $jBeige;
                        }
                    }
                }
            }
        }
        &.collections_wrap {
            padding-bottom: 50px;
            > div {
                .headline_wrap {
                    background-color: $jDarkGreen;
                    color: $jBeige;
                    padding: 2vw 4%;
                    > h3 {
                        font-family: $headline;
                        color: $jBeige;
                        font-size: 3.6vw;
                        line-height: 120%;
                    }
                    > p {
                        font-family: $subHeadline;
                        font-weight: 400;
                        font-size: 1.2vw;
                        line-height:120%;
                    }
                }
                .collections {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    border-bottom: 1px solid $jGreen;
                    .prdBoxWrap {
                        width: 49.9999%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:last-child{
                            .prdBox {
                                border-bottom: none;
                            }
                        }
                        .prdBox {
                            border-right: 1px solid $jGreen;
                            border-bottom: 1px solid $jGreen;
                            padding-bottom: 40px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            transition: all .5s;
                            .img_box {
                                height: 30%;
                                padding: 40px 0 0;
                                margin: 80px 0 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                object-fit: cover;
                                overflow: hidden;
                                > img {
                                    transform: translateY(0);
                                    transition: all .5s;
                                }
                            } 
                            .prdName {
                                font-size: 2vw;
                                font-family: $headline;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 160%;
                                color: $jDarkGreen;
                                letter-spacing: 1px;
                                transition: all .5s;
                            }
                            .price {
                                font-size: 1.5vw;
                                line-height: 150%;
                                font-family: $subHeadline;
                                font-weight: 400;
                                color: $jGreen;
                            }
                            &:hover {
                                background: linear-gradient($jBeige, $jLemon);
                                .img_box {
                                    img {
                                        transform: translateY(-5%);
                                    }
                                }
                                .prdName {
                                    color: $jGreen;
                                }
                            }
                        }
                    }
                } 
            }
        }
        // 개별 상품 페이지
        &.sitemap_wrap {
            > h3 > a {
                display: block;
                font-size: 3vw;
                font-family: $headline;
                color: $jBeige;
                background-color: $jDarkGreen;
                line-height: 160%;
                text-indent: 4%;
            }
            > h5 > a {
                display: block;
                font-size: 1.5vw;
                font-family: $headline;
                color: $jDarkGreen;
                line-height: 160%;
                border-bottom: 2px solid $jDarkGreen;
                text-indent: 4%;
            }
        }
        &.product_wrap {
            display: flex;
            justify-content: space-between;
            .img_wrap {
                width: 44%;
                background: linear-gradient($jBeige, $jOnion);
                object-fit: cover;
                display: flex;
                justify-content: center;
                margin: 4% 5%;
                > img {
                    margin: 10% 0;
                }
                
            }
            .info_wrap {
                width: 50%;
                text-align: center;
                padding: 4% 0;
                color: $jDarkGreen;
                .name {
                    font-family: $headline;
                    font-size: 4.8vw;
                    line-height: 120%;
                    text-align: left;
                    text-indent: 10%;
                }
                .context {
                    font-family: $context;
                    font-weight: 500;
                    font-size: 1.5vw;
                    width: 80%;
                    margin: 0 auto;
                    text-align: left;
                    line-height: 160%;
                    letter-spacing: 1px;
                    word-break: keep-all;
                }
                .total_wrap {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    margin: 4% auto;
                    .count_wrap {
                        width:fit-content;
                        border: 4px solid $jDarkGreen;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-family: $context;
                        font-weight: 700;
                        border-radius: 12px;
                        > span {
                            border: none;
                            background-color: transparent;
                            color: $jDarkGreen;
                            font-size: 1.5vw;
                            text-align: center;
                            line-height: 2vw;
                            padding: 0 1vw;    
                            cursor: pointer;                   
                        }
                        .count {
                            width: 2vw;
                            text-align: center;
                            border: none;
                            outline: none;
                            background-color: transparent;
                            font-size: 1vw;
                            line-height: 280%; 
                            padding: 0 .5vw;
                            color: $jDarkGreen;
                            font-family: $context;  
                            font-weight: 800;            
                        }
                    }
                }
                .price_wrap {
                    width: 80%;
                    margin: 0 auto;
                    font-family: $context;
                    font-weight: 800;
                    background-color: $jDarkGreen;
                    color: $jBeige;
                    font-size: 1.5vw;
                    line-height: 300%;
                    border-radius: 20px;
                    cursor: pointer;
                }
                .attention_wrap {
                    width: 80%;
                    margin: 4% auto;
                    .title {
                        height: 20%;
                        cursor: pointer;
                        .notify {
                            width: 100%;
                            font-size: 1.5vw;
                            line-height: 200%;
                            font-family: $context;
                            font-weight: 700;
                            display: flex;
                            justify-content: space-between;
                            text-align: center;
                            > .material-symbols-outlined {
                                display: flex;
                                font-size: 2vw;
                                height: min-content;
                                transform: rotate(0deg) translate(0%, 0%);
                                transition: all .5s;

                            }
                        }
                        .sub_notice {
                            height: 0;
                            overflow: hidden;
                            transition: all .5s;
                            > li {
                                text-align: left;
                                line-height: 200%;
                                font-family: $context;
                                font-weight: 500;
                                font-size: 16px;
                                word-break: keep-all;
                                > a {
                                    color: $jGreen;
                                    text-decoration: underline;
                                    transition: all .5s;
                                    &:hover {
                                        color: $jRed;
                                    }
                                } 
                            }
                        }
                        &.on {
                            .sub_notice {
                                height: calc(190px - 5vw);
                            }
                            .notify {
                                > .material-symbols-outlined {
                                    transform: rotate(180deg) translate(10%, 10%);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.detail_wrap {
            display: flex;
            width: 90%;
            justify-content: center;
            > div {
                width: 30%;
                text-align: center;
                margin: 4% 0;
                &:nth-child(2) {
                    border-left: 1px solid $jDarkGreen;
                    border-right: 1px solid $jDarkGreen;
                }
                .flex_box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    > img {
                        margin-left: 1vw;
                        height: 3vw;
                    }
                    > h5 {
                        font-family: $headline;
                        font-size: 3vw;
                        color: $jDarkGreen;
                        line-height: 200%;
                    }
                }
                > ul {
                    > li {
                        font-family: $subHeadline;
                        color: $jGreen;
                        font-size: 1vw;
                        font-weight: 700;
                        line-height: 200%;
                    }
                }
            }
        }
        &.recipe_wrap {
            width: 100%;
            margin: 50px 0;
            .title {
                width: 100%;
                margin: 0 auto;
                font-family: $headline;
                font-size: 3.5vw;
                color: $jOnion;
                line-height: 240%;
                text-align: center;
                background-color: $jDarkGreen;
                border-top: 4px solid $jDarkGreen;
                border-bottom: 4px solid $jDarkGreen;
                > img {
                    width: 3vw;
                    vertical-align: middle;
                    margin: 0 1vw;
                }
            }
            .swiper.detailSwiper {
                width: 100%;
                padding-top: 100px;
                background-color:$jDarkGreen;
                height: max-content;
                .swiper-slide {
                    width: 26vw;
                    height: 36vw;
                    background-color: $jBeige;
                    > img {
                        height: 60%;
                        width: 92%;
                        object-fit: cover;
                        display: block;
                        margin: 4% auto;
                        border-radius: 10px;
                    }
                    .texts {
                        width: 92%;
                        margin: 4% auto;
                        padding-bottom: 4%;
                        > h5 {
                            font-family: $headline;
                            color: $jDarkGreen;
                            font-size: 2vw;
                            line-height: 200%;
                        }
                        > a {
                            font-family: $context;
                            color: $jBeige;
                            background-color: $jDarkGreen;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 4vw;
                            height: 4vw;
                            font-size: 16px;
                            margin-left: auto;
                            margin-bottom: 4%;
                            text-align: center;
                            border-radius: 50%;
                            transition: all .5s;
                            transform: scale(1);
                            &:hover {
                                background-color: $jRed;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            .toAll {
                margin-top: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 4px solid $jDarkGreen;
                border-top: 4px solid $jDarkGreen;
                transition: all .5s;
                > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $context;
                    background-color: $jDarkGreen;
                    color: $jOnion;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 400%;
                    margin-bottom: 4vw;
                    border: 4px solid $jOnion;
                    border-radius: 10px;
                    transition: all .5s;
                    > img {
                        width: 20px;
                        margin: 0 10px;
                        transition: all .5s;
                    }
                    &:hover {
                        background-color: $jOnion;
                        color: $jDarkGreen;
                        > img {
                            content: url("/img/star_marquee_DG.svg");
                        }
                    }
                }
            } 
        }
    }
}
/* 미디어쿼리 1000 */

@media screen and (max-width:1000px){
    
}    

/* 미디어쿼리 500 */
@media screen and (max-width:500px){
   
}