// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

@keyframes bannermove {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

// 헤더 드롭다운 메뉴 실행 시 스크롤 기능 막아줌
body.show {
    overflow-y:hidden;
    transition: all .7s;
}

select::-ms-expand { 
	display: none;
}
.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#header {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 76px;
    background-color: $jBeige;
    z-index: 10;
    .center {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 95%;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > a {
                color: $jDarkGreen;
                font-family: $context;
                font-weight: 900;
                letter-spacing: 2px;
                font-weight: 900;
                font-size: 20px;
                transition: all .5s;
            }
            > button {
                border: none;
                outline: none;
                background-color: transparent;
                > span {
                    color: $jDarkGreen;
                    transition: all .5s;
                }
            }
        }
        .menu_wrap {
            > a {
                margin-left:40px;
            }
            button {
                position: relative;
                width:40px;
                height: 36px;
                cursor: pointer;
                .line {
                    display: block;
                    background-color: $jDarkGreen;
                    height: 4px;
                    position: absolute;
                    left: 50%;
                    &.one {
                        width:36px;
                        transform: rotate(0deg);
                        top: 35%;
                    }
                    &.two {
                        width:28px;
                        transform: rotate(0deg);
                        top: 65%;
                    }
                }
                &.show {
                    .line {
                        width:28px;
                        &.one {
                            transform: rotate(45deg);
                            top: 50%;
                        }
                        &.two {
                            transform: rotate(-45deg);
                            top: 50%;
                        }
                    }    
                }
            }

        }
        .logo_wrap {
            a {
                img {
                    height: 56px;
                }
            } 
        }
        .buy_wrap {
            > a {margin: 0 16px;}
            button {
                cursor: pointer;
                > span {
                    font-size: 32px;
                    font-variation-settings:
                    'FILL' 1,
                    'wght' 700,
                    'GRAD' 0,
                    'opsz' 48;
                }
            }
        }
    }
}
.slide_gnb {
    position: fixed;
    top:-100vh;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $jBeige;
    transition: all .7s;
    opacity: 0;
    z-index:0;
    > ul {
        position: absolute;
        top:50%;
        left: 45%;
        transform: translate(-50%, -50%);
        li {
            display: flex;
            align-items: center;
            a {
                font-size: 3.125vw;
                font-family: $headline;
                color: $jDarkGreen;
                font-weight: normal;
                line-height: 240%;
                display: flex;
                align-items: center;
                img{
                    width:2.5vw;
                    opacity: 0;
                    transition: all .5s;
                    margin-right: 20px;
                }
                &:hover{
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.show {
        top:0;
        height: 100%;
        opacity: 1;
        overflow: hidden;
        width: 100%;
        z-index:9;
    }
}
#container {
    width: 100vw;
    background-color: $jBeige;
    margin-top:76px;
    padding-bottom: 50px;
    > div {
        width: 94%;
        margin: 0 auto;
        .title {
            color: $jDarkGreen;
            font-size: 4vw;
            font-family: $headline;
            text-align: center;
            line-height: 200%;
        }
        .map_wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50vw;
            .left_map {
                width: 30%;
                margin: 0 10%;
                height: 100%;
                position: relative;
                object-fit: contain;
                > img {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    filter:invert(25%) sepia(76%) saturate(499%) hue-rotate(94deg) brightness(20%) contrast(94%);
                }
                > span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: all .5s;
                    &::before {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        content: " ";
                        display: block;
                        filter:invert(25%) sepia(76%) saturate(499%) hue-rotate(94deg) brightness(88%) contrast(94%);
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: all .5s;
                    }
                    a {
                        text-align: center;
                        display: block;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        font-family: $context;
                        font-size: .8vw;
                        color:$jDarkGreen;
                        font-weight: 700;
                        top:50%;
                        left:50%;
                        transition: all .5s;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                        a {
                            color:$jBeige;
                        }
                    }
                    &.on {
                        &::before {
                            opacity: 1;
                        }
                        a {
                            color:$jBeige;
                        }
                    }
                    //공통요소 끝
                    &.busan {
                        top: 57.9%;
                        left: 67.7%;
                        width: 27%;
                        height: 9%;
                        &::before {
                            background-image: url("/img/maps/busan.png");
                        }
                        a {
                            left:60%;
                        }
                    }
                    &.chungbuk {
                        top: 25.9%;
                        left: 38.7%;
                        width: 36.5%;
                        height: 22.5%;
                        &::before {
                            background-image: url("/img/maps/chungbuk.png");
                        }
                        a {
                            left:25%;
                        }
                    }
                    &.chungnam {
                        top: 30.2%;
                        left: 6.9%;
                        width: 42.7%;
                        height: 19%;
                        &::before {
                            background-image: url("/img/maps/chungnam.png");
                        }
                        a {
                            left:40%;
                        }
                    }
                    &.daegu {
                        top: 46.9%;
                        left: 63.3%;
                        width: 14.9%;
                        height: 8%;
                        &::before {
                            background-image: url("/img/maps/daegu.png");
                        }
                    }
                    &.daejeon {
                        top: 36.3%;
                        left: 31.6%;
                        width: 11.9%;
                        height: 8%;
                        &::before {
                            background-image: url("/img/maps/daejeon.png");
                        }
                    }
                    &.gangwon {
                        top: 0%;
                        left: 33.2%;
                        width: 58.5%;
                        height: 29.7%;
                        &::before {
                            background-image: url("/img/maps/gangwon.png");
                        }
                    }
                    &.gwangju {
                        top: 60.3%;
                        left: 22.4%;
                        width: 12.4%;
                        height: 5.2%;
                        &::before {
                            background-image: url("/img/maps/gwangju.png");
                        }
                    }
                    &.gyeongbuk {
                        top: 23.8%;
                        left: 52.1%;
                        width: 47.7%;
                        height: 31.9%;
                        &::before {
                            background-image: url("/img/maps/gyeongbuk.png");
                        }
                    }
                    &.gyeonggi {
                        top: 7.7%;
                        left: 19.4%;
                        width: 34.6%;
                        height: 24.9%;
                        &::before {
                            background-image: url("/img/maps/gyeonggi.png");
                        }
                        a {
                            top:60%;
                            left:70%;
                        }
                    }
                    &.gyeongnam {
                        top: 49.5%;
                        left: 46.4%;
                        width: 42.3%;
                        height: 22.9%;
                        &::before {
                            background-image: url("/img/maps/gyeongnam.png");
                        }
                        a {
                            left:45%;
                        }
                    }
                    &.incheon {
                        top: 15.2%;
                        left: 8%;
                        width: 20.8%;
                        height: 9.4%;
                        &::before {
                            background-image: url("/img/maps/incheon.png");
                        }
                    }
                    &.jeju {
                        top: 83.3%;
                        left: 7.7%;
                        width: 25.8%;
                        height: 9.5%;
                        &::before {
                            background-image: url("/img/maps/jeju.png");
                        }
                    }
                    &.jeonbuk {
                        top: 45.4%;
                        left: 14.5%;
                        width: 42%;
                        height: 16.5%;
                        &::before {
                            background-image: url("/img/maps/jeonbuk.png");
                        }
                    }
                    &.jeonnam {
                        top: 57.5%;
                        left: -0.2%;
                        width: 56.6%;
                        height: 24.8%;
                        &::before {
                            background-image: url("/img/maps/jeonnam.png");
                        }
                    }
                    &.seoul {
                        top: 17.9%;
                        left: 24.4%;
                        width: 15.1%;
                        height: 6.1%;
                        &::before {
                            background-image: url("/img/maps/seoul.png");
                        }
                    }
                    &.sejong {
                        top: 32.3%;
                        left: 28.8%;
                        width: 11.9%;
                        height: 8%;
                        &::before {
                            background-image: url("/img/maps/sejong.png");
                        }
                    }
                    &.ulsan {
                        top: 51.7%;
                        left: 81.6%;
                        width: 16.7%;
                        height: 9.4%;
                        &::before {
                            background-image: url("/img/maps/ulsan.png");
                        }
                    }
                }
            }
            .right_find {
                width: 50%;
                text-align: center;
                border: 4px solid $jDarkGreen;
                border-radius: 1vw;
                padding: 1vw 0;
                overflow: hidden;
                > h4 {
                    font-size: 2vw;
                    font-family: $subHeadline;
                    font-weight: 700;
                    color: $jGreen;
                }
                .location_form {
                    margin: 1vw 0;
                    display: flex;
                    justify-content: center;
                    > select {
                        font-family: $context;
                        font-size: 13px;
                        color: $jDarkGreen;
                        font-family: $context;
                        font-weight: 500;
                        height: 300%;
                        width: 20%;
                        background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
                        background-size: 20px;
                        padding: 1% 4% 1% 1%;
                        border-radius: 4px;
                        outline: none;
                        cursor: pointer;
                        > option {
                            color: $jDarkGreen;
                            font-family: $context;
                            font-weight: 500;
                            font-size: 13px;
                            height: 300%;
                            background-color: $jBeige;
                            cursor: pointer;
                            &:disabled {
                                font-weight: 400;
                                cursor: not-allowed;
                            }
                        }
                    }
                    > input {
                        outline: none;
                        border: 1px solid #666;
                        background-color: transparent;
                        font-family: $context;
                        color: $jDarkGreen;
                        font-size: 13px;
                        font-weight: 500;
                        text-indent: 8px;
                        line-height: 180%;
                        margin: 0 4px;
                        border-radius: 4px;
                        width: 30%;
                        &::placeholder {
                            color: $jDarkGreen;
                            font-family: $context;
                            font-size: 13px;
                            font-weight: 500;
                            text-indent: 8px;
                        }
                    }
                    > button {
                        background-color: $jDarkGreen;
                        color: $jBeige;
                        font-weight: 800;
                        font-family: $context;
                        border: none;
                        border-radius: 4px;
                        padding: 0 20px;
                        cursor: pointer;
                    }
                }
                .store_area {
                    height: 100%;
                    .stores{
                        height: 80%;
                        overflow-y: auto;
                        width: 90%;
                        margin: 0 auto;
                        .store_wrap {
                            display: block;
                            width: 100%;
                            text-align: left;
                            font-size: 1vw;
                            line-height: 200%;
                            font-family: $context;
                            .city_name_wrap {
                                display: flex;
                                background-color: $jDarkGreen;
                                color: $jBeige;
                                .store_city {
                                    color: $jBeige;
                                    font-weight: 500;
                                    width: 12%;
                                    text-align: center;
                                }
                                .store_name {
                                    font-weight: 700;
                                    text-indent: 8px;
                                    border-left: 4px solid $jBeige;
                                    letter-spacing: 1px;
                                }
                            }
                            .store_locate {
                                color: $jDarkGreen;
                                font-weight: 500;
                                text-indent: 12px;
                            }
                        }
                        &::-webkit-scrollbar { 
                            width: 1vw;
                            border-radius: 1vw;
                        }
                        &::-webkit-scrollbar-thumb { 
                            background-color: #14402B;
                            border-radius: .5vw;
                            border: .2vw solid #F7E8BBCC;
                        }
                        &::-webkit-scrollbar-track { 
                            background-color: #14402B33;
                        }
                    }
                }
            }
        }
    }
}
#footer {
    display: flex;
    justify-content: space-between;
    background-color: $jBeige;
    align-items: flex-start;
    width: 100vw;
    .left_img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: contrast(1.4) saturate(1.4);
        overflow: hidden;
        > img{
            width: 110%;
        }
    }
    .right_wrap {
        color: $jDarkGreen;
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > h4 {
            font-size: 3.2vw;
            font-family: $headline;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            > img {
                width: 30px;
            }
        }
        > h6 {
            font-family: $subHeadline;
            line-height: 200%;
            width: 70%;
            word-break: keep-all;
            margin: 20px auto;
            font-size: 16px;
            font-weight: 300;
        }
        > a {
            display: inline-block;
            font-size: 16px;
            font-family: $context;
            font-weight: 900;
            color: $jDarkGreen;
            padding:1vw 2vw;
            border-radius: 60px;
            border: 4px solid $jDarkGreen;
            margin-bottom: 3%;
            transition: all .5s;
            &:hover {
                color: $jBeige;
                background-color: $jGreen;
                border-color: $jGreen;
            }
        }
        .sns_wrap {
            display: flex;
            width: 25%;
            margin: 0 auto 2vw;
            justify-content: space-between;
            align-items: center;
            > li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.6vw;
                height: 2.6vw;
                border-radius: 50%;
                cursor: pointer;
                > a {
                    color: $jDarkGreen;
                    font-size: 1.6vw;
                    transition: all .5s;
                    height: fit-content;
                }
                &:hover {
                    background-color: $jGreen;
                    > a {
                        color: $jBeige;
                    }
                }
            } 
        }
        .bot_menus {
            font-family: $headline;
            font-size: 1.9vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
            gap: 1vw 0;
            margin-bottom: 2vw;
            > li {
                > a {
                    color: $jDarkGreen;
                    display: flex;
                    align-items: center;
                    > img {
                        width: 1.9vw;
                        opacity: 0;
                        transition: all .5s;
                    }
                }
                &:hover {
                    > a {
                        > img {
                            opacity: 1;
                        }
                    }
                }
            } 
        }
    } 
}
.flow_icons{
    background-color: $jBeige;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100px;
    opacity: 1;
    padding: 40px 0;
    .flow_wrap{
        display: flex;
        height: 100%;
        flex-wrap: nowrap;
        animation: bannermove 20s linear infinite;
        width: 200%;
        > img {
            width: 11.11111%;
            padding: 0 60px;
        }
    }
}
/* 미디어쿼리 1000 */

@media screen and (max-width:1000px){
    #header {
        .center {
            width: 95%;
            > div {
                > a {
                    display: none;
                }
            }
        }               
    }
    .slide_gnb {
        > ul {
            margin-right: 8%;
            li {
                margin: 60px 0;
                justify-content: center;
                a {
                    font-size: 5vw;
                    img{
                        width:4.5vw;
                        margin-right: 10px;
                    }
                }
            }
        }
    }             
    #footer {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .left_img{
            width: 90%;
            border-radius: 10%;
            > img{
                width: 120%;
                
            }
        }
        .right_wrap {
            width: 90%;
            > h4 {
                font-size: 8vw;
                line-height: 150%;
                letter-spacing: 1px;
                text-align: center;
                > img {
                    margin: 10px;
                }
            }
            > h6 {
                font-size: 3vw;
                line-height: 200%;
            }
            > a {
                padding:1em 2em;
                &:hover {
                    color: $jLemon;
                    background-color: $jGreen;
                    border-color: $jGreen;
                }
            }
            .sns_wrap {
                width: 50%;
                margin-bottom: 5%;
                > li {
                    width: 5vw;
                    height: 5vw;
                    cursor: pointer;
                    > a {
                        font-size: 4vw;
                    }
                } 
            }
            .bot_menus {
                font-size: 4vw;
                flex-direction: row;
                justify-content: center;
                width: 80%;
                gap: 6vw;
                > li {
                    width: 100%;     
                    > a {
                        justify-content: center;
                        > img {
                            width: 4vw;

                        }
                    }
                } 
            }
        } 
    }
    .flow_icons{
        width: 100vw;
        .flow_wrap{
            > img {
                width: 20%;
            }
        }
    }
}    

/* 미디어쿼리 500 */
@media screen and (max-width:500px){
    #header {
        .center {
            .menu_wrap {
                > a {
                    margin-left:20px;
                }   
            }
            > .logo_wrap {
                margin-left: 10px;
            }
            .buy_wrap {
                button {
                    margin-right: 10px;
                }
            }
        }
    }
    .slide_gnb {
        > ul {
            margin-right: 0%;
            left: 40%;
            li {
                width: 120%;
                a {
                    font-size: 10vw;
                    img{
                        width:6vw;
                    }
                }
            }
        }
    }   
    #footer {
        .right_wrap {
            > h6 {
                margin: 10px 0;
                font-size: 3.5vw;
            }
            > ul.bot_menus {
                margin-right: 5%;
            }
            > a {
                font-size: 3vw;
            }
        }
    }
    .flow_icons{
        width: 100vw;
        .flow_wrap{
            width: 600%;
            > img {
                width: 25%;
                padding: 0px 30px;
            }
        }
    }
}