// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

#container {
    width: 100vw;
    background-color: $jBeige;
    margin-top:76px;
    .title {
        width: 100%;
        text-align: center;
        font-size: 5vw;
        line-height: 200%;
        font-family: $headline;
        color: $jDarkGreen;
    }
    .center{
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        > form {
            width: 100%;
            border: 4px solid $jDarkGreen;
            border-radius: 1vw;
            padding: 1vw;
            margin-bottom: 4%;
            .login_wrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .left_wrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    > label {
                        font-family: $headline;
                        font-weight: 800;
                        color: $jDarkGreen;
                        line-height: 160%;
                        font-size: 2vw;
                    }
                    > input {
                        font-family: $context;
                        font-size: 1vw;
                        background-color:transparent;
                        border: none;
                        border-bottom: 4px solid $jDarkGreen;
                        display: block;
                        width: 100%;
                        margin-bottom: 4%;
                        line-height: 200%;
                        outline: none;
                        &::placeholder {
                            color: $jDarkGreen;
                        }
                        &:focus {
                            border-bottom: 4px solid $jGreen;
                        }
                    }
                    > button {
                        background-color: $jDarkGreen;
                        color: $jBeige;
                        font-family: $context;
                        border: none;
                        border-radius: 1vw;
                        font-size: 1vw;
                        text-align: center;
                        width: 20%;
                        margin-left: auto;
                        font-weight: 900;
                        line-height: 360%;
                        cursor: pointer;
                        transition: all .5s;
                        &:hover {
                            color: $jOnion;
                            background-color: $jGreen;
                        }
                    }
                }
            } 
            .btn_wrap {
                display: flex;
                justify-content: flex-end;
                > a {
                    font-family: $context;
                    font-weight: 700;
                    margin-left: 1vw;
                    margin-top: 1vw;
                    font-size: 1vw;
                    color: $jDarkGreen;
                    &:hover {
                        color: $jGreen;
                    }
                }
            }
        }
    } 
}

@media screen and (max-width:1200px){
    #container {
        .title {
            font-size: 10vw;
            line-height: 160%;
        }
        .center{
            width: 50%;
            > form {
                .login_wrap {
                    .left_wrap {
                        > label {
                            font-size: 4vw;
                        }
                        > input {
                            font-family: $context;
                            font-size: 2vw;
                            background-color:transparent;
                            border: none;
                            border-bottom: 4px solid $jDarkGreen;
                            display: block;
                            width: 100%;
                            margin-bottom: 4%;
                            line-height: 200%;
                            outline: none;
                            &::placeholder {
                                color: $jDarkGreen;
                            }
                            &:focus {
                                border-bottom: 4px solid $jGreen;
                            }
                        }
                        > button {
                            font-size: 2vw;
                            line-height: 280%;
                            width: 30%;
                        }
                    }
                } 
                .btn_wrap {
                    > a {
                        font-size: 1.5vw;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width:800px){
    #container {
        .center{
            width: 60%;
            > form {
                border-radius: 2vw;
                .login_wrap {
                    .left_wrap {
                        > label {
                            font-size: 5vw;
                        }
                        > input {
                            font-size: 2.5vw;
                        }
                        > button {
                            font-size: 2.5vw;
                            line-height: 280%;
                            width: 30%;
                        }
                    }
                } 
                .btn_wrap {
                    > a {
                        font-size: 2vw;
                        line-height: 200%;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width:500px){
    #container {
        .title {
            font-size: 12vw;
            line-height: 160%;
        }
        .center{
            width: 70%;
            > form {
                border-radius: 4vw;
                .login_wrap {
                    .left_wrap {
                        > label {
                            font-size: 6vw;
                        }
                        > input {
                            font-size: 3vw;
                        }
                        > button {
                            font-size: 3vw;
                            line-height: 320%;
                            width: 35%;
                        }
                    }
                } 
                .btn_wrap {
                    > a {
                        font-size: 2.5vw;
                        line-height: 200%;
                    }
                }
            }
        } 
    }
}