// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

@keyframes bannermove {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

// 헤더 드롭다운 메뉴 실행 시 스크롤 기능 막아줌
body.show {
    overflow-y:hidden;
    transition: all .7s;
}

#header {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 76px;
    background-color: $jBeige;
    z-index: 10;
    .center {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 95%;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > a {
                color: $jDarkGreen;
                font-family: $context;
                font-weight: 900;
                letter-spacing: 2px;
                font-weight: 900;
                font-size: 20px;
                transition: all .5s;
            }
            > button {
                border: none;
                outline: none;
                background-color: transparent;
                > span {
                    color: $jDarkGreen;
                    transition: all .5s;
                }
            }
        }
        .menu_wrap {
            > a {
                margin-left:40px;
            }
            button {
                position: relative;
                width:40px;
                height: 36px;
                cursor: pointer;
                .line {
                    display: block;
                    background-color: $jDarkGreen;
                    height: 4px;
                    position: absolute;
                    left: 50%;
                    &.one {
                        width:36px;
                        transform: rotate(0deg);
                        top: 35%;
                    }
                    &.two {
                        width:28px;
                        transform: rotate(0deg);
                        top: 65%;
                    }
                }
                &.show {
                    .line {
                        width:28px;
                        &.one {
                            transform: rotate(45deg);
                            top: 50%;
                        }
                        &.two {
                            transform: rotate(-45deg);
                            top: 50%;
                        }
                    }    
                }
            }

        }
        .logo_wrap {
            a {
                img {
                    height: 56px;
                }
            } 
        }
        .buy_wrap {
            > a {margin: 0 16px;}
            button {
                cursor: pointer;
                > span {
                    font-size: 32px;
                    font-variation-settings:
                    'FILL' 1,
                    'wght' 700,
                    'GRAD' 0,
                    'opsz' 48;
                }
            }
        }
    }
}
.slide_gnb {
    position: fixed;
    top:-100vh;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $jBeige;
    transition: all .7s;
    opacity: 0;
    z-index:0;
    > ul {
        position: absolute;
        top:50%;
        left: 45%;
        transform: translate(-50%, -50%);
        li {
            display: flex;
            align-items: center;
            a {
                font-size: 3.125vw;
                font-family: $headline;
                color: $jDarkGreen;
                font-weight: normal;
                line-height: 240%;
                display: flex;
                align-items: center;
                img{
                    width:2.5vw;
                    opacity: 0;
                    transition: all .5s;
                    margin-right: 20px;
                }
                &:hover{
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.show {
        top:0;
        height: 100%;
        opacity: 1;
        overflow: hidden;
        width: 100%;
        z-index:9;
    }
}
#container {
    width: 100vw;
    margin-top:75px;
    background-color: $jDarkGreen;
    overflow-x: hidden;
    > div {
        width: 100%;
        margin: 0 auto;
        /* 레시피 전체 페이지 */
        &.flowText {
            display: flex;
            align-items: center;
            width: 514%;
            animation: bannermove 50s linear infinite;
            @keyframes bannermove {
                0% {
                  transform: translateX(0%);
                }
                100% {
                  transform: translateX(-50%);
                }
            }
            > p {
                display: flex;
                font-size: 5vw;
                align-items: center;
                font-family: $headline;
                color: $jBeige;
                padding:4vw 1vw;
                letter-spacing: -3px;
            }
            > img {
                width: 4vw;
                padding: 4vw 1vw;
            }
        }
        &.headlines {
            color:$jBeige;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            letter-spacing: -.2vw;
            font-family: $headline;
            img:nth-child(1) {
                width: 3vw;
                margin-bottom: 3%;
            }
            .sub_headline {
                font-size: 2vw;
                font-weight: 500;
            }
            > h2 {
                font-size: 7vw;
                line-height: 200%;
            }
            img:nth-child(4) {
                width: 3vw;
                margin-bottom: 3%;
            }
        }
        &.sorting_wrap {
            width: 92%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: top;
            .whiskey {
                font-size: 30px;
                line-height: 200%;
                font-family: $context;
                font-weight: 800;
                color: $jBeige;
            }
            .sorts {
                width: 20%;
                height: 32px;
                overflow: hidden;
                border: 1px solid $jBeige;
                border-radius: 10px;
                > li {
                    &:nth-child(1) {
                        position: relative;
                        > span {
                            position: absolute;
                            top:50%;
                            right: 10px;
                            transform: translateY(-50%);
                            color: $jBeige;
                            cursor: pointer;
                            width: 10%;
                            text-align: center;
                            font-size: 30px;
                        }
                    }
                    > a {
                        display: block;
                        text-align: center;
                        color: $jBeige;
                        font-size: 16px;
                        line-height: 200%;
                        font-family: $context;
                        font-weight: 800;
                    }
                    &:hover {
                        background-color: #f7e8bb99;
                        > a {
                            color: $jDarkGreen;
                        }
                        > span {
                            color: $jDarkGreen;
                        }
                    }
                }
                &.on {
                    height: 100%;
                }
            }
        }
        &.recipes_wrap {
            width: 92%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow-y: hidden;
            position: relative;
            padding-top: 50px;
            .recipes {
                width: 28%;
                background-color: $jBeige;
                border-radius: 20px;
                margin-bottom: 8%;
                display: none;
                transform: translateY(0%);
                transition: all .5s;
                &:nth-child(1) {
                    display: block;
                }
                &:nth-child(2) {
                    display: block;
                }
                &:nth-child(3) {
                    display: block;
                }
                > img {
                    height: 60%;
                    width: 92%;
                    object-fit: cover;
                    display: block;
                    margin: 4% auto;
                    border-radius: 10px;
                }
                .texts {
                    width: 92%;
                    margin: 4% auto;
                    padding-bottom: 4%;
                    > h5 {
                        font-family: $headline;
                        color: $jDarkGreen;
                        font-size: 2vw;
                        line-height: 200%;
                    }
                    > a {
                        font-family: $context;
                        color: $jBeige;
                        background-color: $jDarkGreen;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 4vw;
                        height: 4vw;
                        font-size: 16px;
                        margin-left: auto;
                        margin-bottom: 4%;
                        text-align: center;
                        border-radius: 50%;
                        transition: all .5s;
                        transform: scale(1);
                        &:hover {
                            background-color: $jRed;
                            transform: scale(1.2);
                        }
                    }
                }
                &:hover {
                    transform: translateY(-4%);
                }
            }
            .more_wrap {
                position: absolute;
                bottom:0;
                left:0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                > button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color:$jBeige;
                    font-size: 2vw;
                    font-family: $headline;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    cursor: pointer;
                    line-height: 300%;
                    > img {
                        width: 1.75vw;
                        vertical-align: top;
                        margin: 0 10px;
                        opacity: 0;
                        transition: all .5s;
                    }
                }
                &:hover {
                    > button {
                        > img { 
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
#footer {
    display: flex;
    justify-content: space-between;
    background-color: $jBeige;
    align-items: flex-start;
    width: 100vw;
    .left_img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: contrast(1.4) saturate(1.4);
        overflow: hidden;
        > img{
            width: 110%;
        }
    }
    .right_wrap {
        color: $jDarkGreen;
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > h4 {
            font-size: 3.2vw;
            font-family: $headline;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            > img {
                width: 30px;
            }
        }
        > h6 {
            font-family: $subHeadline;
            line-height: 200%;
            width: 70%;
            word-break: keep-all;
            margin: 20px auto;
            font-size: 16px;
            font-weight: 300;
        }
        > a {
            display: inline-block;
            font-size: 16px;
            font-family: $context;
            font-weight: 900;
            color: $jDarkGreen;
            padding:1vw 2vw;
            border-radius: 60px;
            border: 4px solid $jDarkGreen;
            margin-bottom: 3%;
            transition: all .5s;
            &:hover {
                color: $jBeige;
                background-color: $jGreen;
                border-color: $jGreen;
            }
        }
        .sns_wrap {
            display: flex;
            width: 25%;
            margin: 0 auto 2vw;
            justify-content: space-between;
            align-items: center;
            > li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.6vw;
                height: 2.6vw;
                border-radius: 50%;
                cursor: pointer;
                > a {
                    color: $jDarkGreen;
                    font-size: 1.6vw;
                    transition: all .5s;
                    height: fit-content;
                }
                &:hover {
                    background-color: $jGreen;
                    > a {
                        color: $jBeige;
                    }
                }
            } 
        }
        .bot_menus {
            font-family: $headline;
            font-size: 1.9vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
            gap: 1vw 0;
            margin-bottom: 2vw;
            > li {
                > a {
                    color: $jDarkGreen;
                    display: flex;
                    align-items: center;
                    > img {
                        width: 1.9vw;
                        opacity: 0;
                        transition: all .5s;
                    }
                }
                &:hover {
                    > a {
                        > img {
                            opacity: 1;
                        }
                    }
                }
            } 
        }
    } 
}
.flow_icons{
    background-color: $jBeige;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100px;
    opacity: 1;
    padding: 40px 0;
    .flow_wrap{
        display: flex;
        height: 100%;
        flex-wrap: nowrap;
        animation: bannermove 20s linear infinite;
        width: 200%;
        > img {
            width: 11.11111%;
            padding: 0 60px;
        }
    }
}
/* 미디어쿼리 1000 */

@media screen and (max-width:1000px){
    #header {
        .center {
            width: 95%;
            > div {
                > a {
                    display: none;
                }
            }
        }               
    }
    .slide_gnb {
        > ul {
            margin-right: 8%;
            li {
                margin: 60px 0;
                justify-content: center;
                a {
                    font-size: 5vw;
                    img{
                        width:4.5vw;
                        margin-right: 10px;
                    }
                }
            }
        }
    }             
    #footer {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .left_img{
            width: 90%;
            border-radius: 10%;
            > img{
                width: 120%;
                
            }
        }
        .right_wrap {
            width: 90%;
            > h4 {
                font-size: 8vw;
                line-height: 150%;
                letter-spacing: 1px;
                text-align: center;
                > img {
                    margin: 10px;
                }
            }
            > h6 {
                font-size: 3vw;
                line-height: 200%;
            }
            > a {
                padding:1em 2em;
                &:hover {
                    color: $jLemon;
                    background-color: $jGreen;
                    border-color: $jGreen;
                }
            }
            .sns_wrap {
                width: 50%;
                margin-bottom: 5%;
                > li {
                    width: 5vw;
                    height: 5vw;
                    cursor: pointer;
                    > a {
                        font-size: 4vw;
                    }
                } 
            }
            .bot_menus {
                font-size: 4vw;
                flex-direction: row;
                justify-content: center;
                width: 80%;
                gap: 6vw;
                > li {
                    width: 100%;     
                    > a {
                        justify-content: center;
                        > img {
                            width: 4vw;

                        }
                    }
                } 
            }
        } 
    }
    .flow_icons{
        width: 100vw;
        .flow_wrap{
            > img {
                width: 20%;
            }
        }
    }
}    

/* 미디어쿼리 500 */
@media screen and (max-width:500px){
    #header {
        .center {
            .menu_wrap {
                > a {
                    margin-left:20px;
                }   
            }
            > .logo_wrap {
                margin-left: 10px;
            }
            .buy_wrap {
                button {
                    margin-right: 10px;
                }
            }
        }
    }
    .slide_gnb {
        > ul {
            margin-right: 0%;
            left: 40%;
            li {
                width: 120%;
                a {
                    font-size: 10vw;
                    img{
                        width:6vw;
                    }
                }
            }
        }
    }   
    #footer {
        .right_wrap {
            > h6 {
                margin: 10px 0;
                font-size: 3.5vw;
            }
            > ul.bot_menus {
                margin-right: 5%;
            }
            > a {
                font-size: 3vw;
            }
        }
    }
    .flow_icons{
        width: 100vw;
        .flow_wrap{
            width: 600%;
            > img {
                width: 25%;
                padding: 0px 30px;
            }
        }
    }
}