// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

@keyframes bannermove {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

#container {
    width: 100vw;
    margin-top:76px;
    background-color: $jBeige;
    overflow: hidden;
    /* 레시피 세부 페이지 */
    > div {
        width: 100%;
        > h2 {
            font-family: $headline;
            text-align: center;
            color: $jDarkGreen;
            font-size: 7vw;
            line-height: 100%;
            width: 80%;
            margin: 40px auto 0px;
        }
        .img_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 92%;
            margin: 2% auto;
            > a {
                display: flex;
                align-items: center;
                > img {
                    height: 5vw;         
                }
                > span {
                    font-family: $headline;
                    font-size: 1vw;
                    color: $jDarkGreen;
                    opacity: 0;
                    transition: all .5s;
                }
                &:nth-child(1) {
                    > img {
                        margin-right: 3vw;
                        margin-left: 1.5vw;
                    }
                }
                &:nth-child(3) {
                    > img {
                        margin-left: 3vw;
                        margin-right: 1.5vw;
                        transform:scaleX(-1);
                    }
                }
                &:hover {
                    > span {
                        opacity: 1;
                    }
                }
            }
            .thumbnail {
                display: flex;
                width: 50%;
                height: 32vw;
                border-radius: 12vw 12vw 0 0;
                overflow: hidden;
                > img {
                    width: 100%;
                    object-fit:cover;
                }
            }
        }
        .about_recipe_wrap {
            display: flex;
            width: 92%;
            justify-content: space-between;
            margin: 0 auto;
            text-align: center;
            > div {
                width: 30%;
                font-family: $subHeadline;
                font-weight: 700;
                color: $jDarkGreen;
                word-break: keep-all;
                font-size: 1.5vw;
                line-height: 160%;
                letter-spacing: -.1vw;
                > h3 {
                    font-family: $context;
                    font-weight: 900;
                    line-height: 400%;
                    margin-bottom: 1%;
                    font-size: .8vw;
                    letter-spacing: .01vw;
                } 
                > ul {
                    > li {
                       > a {
                            color: $jGreen;
                       }
                    }
                }
            }
        }
        .share_wrap {
            width: 92%;
            margin: 0 auto 4%;
            text-align: center;
            > img {
                width: 4vw;
                display: block;
                margin: 8% auto 4%;
            }
            > p {
                width:50%;
                margin: 0 auto 2%;
                word-break: keep-all;
                font-family: $context;
                font-weight: 800;
                font-size: 1vw;
                color: $jDarkGreen;
            }
            > ul {
                display: flex;
                justify-content: center;
                > button {
                    cursor: pointer;
                    border: none;
                    outline: none;
                    color:$jBeige;
                    background-color: $jDarkGreen;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    margin: 1vw .5vw;
                    transition: all .5s;
                    > i {
                        font-size: .8vw;
                    }
                    &:hover {
                        background-color: $jGreen;
                    }
                }
            }

        }
        .recipes_slide_wrap {
            width: 100%;
            background-color: $jDarkGreen;
            padding-top: 4%;
            .title {
                width: 100%;
                margin: 0 auto;
                font-family: $headline;
                font-size: 4vw;
                color: $jOnion;
                line-height: 240%;
                text-align: center;
                > img {
                    width: 3.5vw;
                    vertical-align: middle;
                    margin: 0 1vw;
                }
            }
            .swiper.recipesSwiper {
                width: 100%;
                padding: 4% 0 0;
                .swiper-slide {
                    width: 26vw;
                    height: 36vw;
                    background-color: $jBeige;
                    > img {
                        height: 60%;
                        width: 92%;
                        object-fit: cover;
                        display: block;
                        margin: 4% auto;
                        border-radius: 10px;
                    }
                    .texts {
                        width: 92%;
                        margin: 4% auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        > h5 {
                            font-family: $headline;
                            color: $jDarkGreen;
                            font-size: 2vw;
                            line-height: 200%;
                        }
                        > a {
                            font-family: $context;
                            font-weight: 800;
                            font-size: 1vw;
                            color: $jBeige;
                            background-color: $jDarkGreen;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 8vw;
                            height: 4vw;
                            font-size: 16px;
                            text-align: center;
                            transition: all .5s;
                            margin-top: 10%;
                            &:hover {
                                background-color: $jGreen;
                                border-radius: 5vw;
                            }
                        }
                    }
                }
            }
            .toAll {
                margin-top: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $context;
                    background-color: $jDarkGreen;
                    color: $jOnion;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 400%;
                    margin-bottom: 4vw;
                    border: 4px solid $jOnion;
                    border-radius: 10px;
                    transition: all .5s;
                    > img {
                        width: 20px;
                        margin: 0 10px;
                        transition: all .5s;
                    }
                    &:hover {
                        background-color: $jOnion;
                        color: $jDarkGreen;
                        > img {
                            content: url("/img/star_marquee_DG.svg");
                        }
                    }
                }
            } 
        } 
    }  
}

/* 미디어쿼리 1000 */

@media screen and (max-width:1000px){
    #container {
        /* 레시피 세부 페이지 */
        > div {
            width: 100%;
            > h2 {
                font-size: 10vw;
            }
            .img_wrap {
                width: 100%;
                > a {
                    justify-content: center;
                    width: 20%;
                    > img {
                        height: 8vw;     
                        margin-bottom: 1vw;    
                    }
                    > span {
                        font-size: 2vw;
                        width: 50%;
                        word-break: keep-all;
                        text-align: center;
                    }
                    &:nth-child(1) {
                        flex-direction: column-reverse;
                    }
                    &:nth-child(3) {
                        flex-direction: column;
                        > img {
                            margin-top: 10%;
                        }
                    }
                    &:hover {
                        > span {
                            opacity: 1;
                        }
                    }
                }
                .thumbnail {
                    height: 50vw;
                }
            }
            .about_recipe_wrap {
                width: 95%;
                justify-content: center;
                flex-direction: column;
                > div {
                    width: 100%;
                    font-size: 1.5vw;
                    margin-bottom: 4vw;
                    > h3 {
                        font-size: 2.5vw;
                    } 
                    > p {
                        width: 50%;
                        margin: 0 auto;
                        font-size: 3vw;
                        line-height: 200%;
                    }
                    > ul {
                        > li {
                            font-size: 3vw;
                            line-height: 200%;
                        }
                    }
                }
            }
            .share_wrap {
                width: 95%;
                > img {
                    width: 8vw;
                    margin: 4% auto 8%;
                }
                > p {
                    width:50%;
                    word-break: keep-all;
                    font-size: 3vw;
                    line-height: 120%;
                }
                > ul {
                    > button {
                        width: 6vw;
                        height: 6vw;
                        margin: 1vw 1vw;
                        > i {
                            font-size: 2vw;
                        }
                    }
                }
            }
            .recipes_slide_wrap {
                width: 100%;
                background-color: $jDarkGreen;
                padding-top: 4%;
                .title {
                    font-size: 5vw;
                    > img {
                        width: 3.5vw;
                        vertical-align: middle;
                        margin: 0 1vw;
                    }
                }
                .swiper.recipesSwiper {
                    .swiper-slide {
                        width: 36vw;
                        height: 48vw;
                        > img {
                            height: 60%;
                            width: 92%;
                            object-fit: cover;
                            display: block;
                            margin: 4% auto;
                            border-radius: 10px;
                        }
                        .texts {
                            width: 92%;
                            margin: 4% auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            > h5 {
                                font-size: 3vw;
                            }
                            > a {
                                width: 15vw;
                                height: 6vw;
                                font-size: 16px;
                                margin-top: 4%;
                            }
                        }
                    }
                }
                .toAll {
                    margin-top: 100px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .5s;
                    > a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: $context;
                        background-color: $jDarkGreen;
                        color: $jOnion;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 400%;
                        margin-bottom: 4vw;
                        border: 4px solid $jOnion;
                        border-radius: 10px;
                        transition: all .5s;
                        > img {
                            width: 20px;
                            margin: 0 10px;
                            transition: all .5s;
                        }
                        &:hover {
                            background-color: $jOnion;
                            color: $jDarkGreen;
                            > img {
                                content: url("/img/star_marquee_DG.svg");
                            }
                        }
                    }
                } 
            } 
        }  
    }
}    

/* 미디어쿼리 500 */
@media screen and (max-width:500px){
    #container {
        > div {
            width: 100%;
            > h2 {
                font-size: 13vw;
            }
            .img_wrap {
                width: 95%;
                .thumbnail {
                    height: 50vw;
                }
            }
            .about_recipe_wrap {
                > div {
                    > h3 {
                        font-size: 3.5vw;
                    } 
                    > ul {
                        > li {
                            font-size: 5vw;
                        }
                    }
                    > p {
                        font-size: 5vw;
                        width: 80%;
                    }
                }
            }
            .share_wrap {
                > img {
                    width: 12vw;
                }
                > p {
                    width:70%;
                    font-size: 4vw;
                }
                > ul {
                    > button {
                        width: 8vw;
                        height: 8vw;
                        margin: 1vw;
                        > i {
                            font-size: 4vw;
                        }
                    }
                }
            }
            .recipes_slide_wrap {
                .title {
                    font-size: 6vw;
                    > img {
                        width: 4vw;
                        margin: 0 .5vw;
                    }
                }
                .swiper.recipesSwiper {
                    .swiper-slide {
                        width: 50vw;
                        height: 65vw;
                        > img {
                            height: 60%;
                            width: 92%;
                        }
                        .texts {
                            > h5 {
                                font-size: 4vw;
                            }
                            > a {
                                font-size: 1vw;
                                width: 20vw;
                                height: 8vw;
                                margin-top: 4%;
                            }
                        }
                    }
                }
                .toAll {
                    margin-top: 50px;
                    > a {
                        font-size: 3vw;
                        line-height: 400%;
                        > img {
                            width: 3vw;
                            margin: 1vw;
                        }
                        &:hover {
                            background-color: $jOnion;
                            color: $jDarkGreen;
                            > img {
                                content: url("/img/star_marquee_DG.svg");
                            }
                        }
                    }
                } 
            } 
        }  
    }
}