// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

@keyframes bannermove {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

// 헤더 드롭다운 메뉴 실행 시 스크롤 기능 막아줌
body.show {
    overflow-y:hidden;
    transition: all .7s;
}

#header {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 76px;
    background-color: $jBeige;
    z-index: 10;
    .center {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 95%;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > a {
                color: $jDarkGreen;
                font-family: $context;
                font-weight: 900;
                letter-spacing: 2px;
                font-weight: 900;
                font-size: 20px;
                transition: all .5s;
            }
            > button {
                border: none;
                outline: none;
                background-color: transparent;
                > span {
                    color: $jDarkGreen;
                    transition: all .5s;
                }
            }
        }
        .menu_wrap {
            > a {
                margin-left:40px;
            }
            button {
                position: relative;
                width:40px;
                height: 36px;
                cursor: pointer;
                .line {
                    display: block;
                    background-color: $jDarkGreen;
                    height: 4px;
                    position: absolute;
                    left: 50%;
                    &.one {
                        width:36px;
                        transform: rotate(0deg);
                        top: 35%;
                    }
                    &.two {
                        width:28px;
                        transform: rotate(0deg);
                        top: 65%;
                    }
                }
                &.show {
                    .line {
                        width:28px;
                        &.one {
                            transform: rotate(45deg);
                            top: 50%;
                        }
                        &.two {
                            transform: rotate(-45deg);
                            top: 50%;
                        }
                    }    
                }
            }

        }
        .logo_wrap {
            a {
                img {
                    height: 56px;
                }
            } 
        }
        .buy_wrap {
            > a {margin: 0 16px;}
            button {
                cursor: pointer;
                > span {
                    font-size: 32px;
                    font-variation-settings:
                    'FILL' 1,
                    'wght' 700,
                    'GRAD' 0,
                    'opsz' 48;
                }
            }
        }
    }
}
.slide_gnb {
    position: fixed;
    top:-100vh;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $jBeige;
    transition: all .7s;
    opacity: 0;
    z-index:0;
    > ul {
        position: absolute;
        top:50%;
        left: 45%;
        transform: translate(-50%, -50%);
        li {
            display: flex;
            align-items: center;
            a {
                font-size: 3.125vw;
                font-family: $headline;
                color: $jDarkGreen;
                font-weight: normal;
                line-height: 240%;
                display: flex;
                align-items: center;
                img{
                    width:2.5vw;
                    opacity: 0;
                    transition: all .5s;
                    margin-right: 20px;
                }
                &:hover{
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.show {
        top:0;
        height: 100%;
        opacity: 1;
        overflow: hidden;
        width: 100%;
        z-index:9;
    }
}
#container {
    width: 100vw;
    margin-top:76px;
    background-color: $jBeige;
    overflow: hidden;
    /* 레시피 세부 페이지 */
    > div {
        width: 100%;
        > h2 {
            font-family: $headline;
            text-align: center;
            color: $jDarkGreen;
            font-size: 7vw;
            line-height: 100%;
            width: 80%;
            margin: 40px auto 0px;
        }
        .img_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 92%;
            margin: 2% auto;
            > a {
                display: flex;
                align-items: center;
                > img {
                    height: 5vw;         
                }
                > span {
                    font-family: $headline;
                    font-size: 1vw;
                    color: $jDarkGreen;
                    opacity: 0;
                    transition: all .5s;
                }
                &:nth-child(1) {
                    > img {
                        margin-right: 3vw;
                        margin-left: 1.5vw;
                    }
                }
                &:nth-child(3) {
                    > img {
                        margin-left: 3vw;
                        margin-right: 1.5vw;
                        transform:scaleX(-1);
                    }
                }
                &:hover {
                    > span {
                        opacity: 1;
                    }
                }
            }
            .thumbnail {
                display: flex;
                width: 50%;
                height: 32vw;
                border-radius: 12vw 12vw 0 0;
                overflow: hidden;
                > img {
                    width: 100%;
                    object-fit:cover;
                }
            }
        }
        .about_recipe_wrap {
            display: flex;
            width: 92%;
            justify-content: space-between;
            margin: 0 auto;
            text-align: center;
            > div {
                width: 30%;
                font-family: $subHeadline;
                font-weight: 700;
                color: $jDarkGreen;
                word-break: keep-all;
                font-size: 1.5vw;
                line-height: 160%;
                letter-spacing: -.1vw;
                > h3 {
                    font-family: $context;
                    font-weight: 900;
                    line-height: 400%;
                    margin-bottom: 1%;
                    font-size: .8vw;
                    letter-spacing: .01vw;
                } 
                > ul {
                    > li {
                       > a {
                            color: $jDarkGreen;
                       }
                    }
                }
            }
        }
        .share_wrap {
            width: 92%;
            margin: 0 auto 4%;
            text-align: center;
            > img {
                width: 4vw;
                display: block;
                margin: 8% auto 4%;
            }
            > p {
                width:50%;
                margin: 0 auto 2%;
                word-break: keep-all;
                font-family: $context;
                font-weight: 800;
                font-size: 1vw;
                color: $jDarkGreen;
            }
            > ul {
                display: flex;
                justify-content: center;
                > button {
                    cursor: pointer;
                    border: none;
                    outline: none;
                    color:$jBeige;
                    background-color: $jDarkGreen;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    margin: 1vw .5vw;
                    transition: all .5s;
                    > i {
                        font-size: .8vw;
                    }
                    &:hover {
                        background-color: $jGreen;
                    }
                }
            }

        }
        .recipes_slide_wrap {
            width: 100%;
            background-color: $jDarkGreen;
            padding-top: 4%;
            .title {
                width: 100%;
                margin: 0 auto;
                font-family: $headline;
                font-size: 4vw;
                color: $jOnion;
                line-height: 240%;
                text-align: center;
                > img {
                    width: 3.5vw;
                    vertical-align: middle;
                    margin: 0 1vw;
                }
            }
            .swiper.recipesSwiper {
                width: 100%;
                padding: 4% 0 0;
                .swiper-slide {
                    width: 26vw;
                    height: 36vw;
                    background-color: $jBeige;
                    > img {
                        height: 60%;
                        width: 92%;
                        object-fit: cover;
                        display: block;
                        margin: 4% auto;
                        border-radius: 10px;
                    }
                    .texts {
                        width: 92%;
                        margin: 4% auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        > h5 {
                            font-family: $headline;
                            color: $jDarkGreen;
                            font-size: 2vw;
                            line-height: 200%;
                        }
                        > a {
                            font-family: $context;
                            font-weight: 800;
                            font-size: 1vw;
                            color: $jBeige;
                            background-color: $jDarkGreen;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 8vw;
                            height: 4vw;
                            font-size: 16px;
                            text-align: center;
                            transition: all .5s;
                            margin-top: 10%;
                            &:hover {
                                background-color: $jGreen;
                                border-radius: 5vw;
                            }
                        }
                    }
                }
            }
            .toAll {
                margin-top: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s;
                > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $context;
                    background-color: $jDarkGreen;
                    color: $jOnion;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 400%;
                    margin-bottom: 4vw;
                    border: 4px solid $jOnion;
                    border-radius: 10px;
                    transition: all .5s;
                    > img {
                        width: 20px;
                        margin: 0 10px;
                        transition: all .5s;
                    }
                    &:hover {
                        background-color: $jOnion;
                        color: $jDarkGreen;
                        > img {
                            content: url("/img/star_marquee_DG.svg");
                        }
                    }
                }
            } 
        } 
    }  
}
#footer {
    display: flex;
    justify-content: space-between;
    background-color: $jBeige;
    align-items: flex-start;
    width: 100vw;
    .left_img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: contrast(1.4) saturate(1.4);
        overflow: hidden;
        > img{
            width: 110%;
        }
    }
    .right_wrap {
        color: $jDarkGreen;
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > h4 {
            font-size: 3.2vw;
            font-family: $headline;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            > img {
                width: 30px;
            }
        }
        > h6 {
            font-family: $subHeadline;
            line-height: 200%;
            width: 70%;
            word-break: keep-all;
            margin: 20px auto;
            font-size: 16px;
            font-weight: 300;
        }
        > a {
            display: inline-block;
            font-size: 16px;
            font-family: $context;
            font-weight: 900;
            color: $jDarkGreen;
            padding:1vw 2vw;
            border-radius: 60px;
            border: 4px solid $jDarkGreen;
            margin-bottom: 3%;
            transition: all .5s;
            &:hover {
                color: $jBeige;
                background-color: $jGreen;
                border-color: $jGreen;
            }
        }
        .sns_wrap {
            display: flex;
            width: 25%;
            margin: 0 auto 2vw;
            justify-content: space-between;
            align-items: center;
            > li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.6vw;
                height: 2.6vw;
                border-radius: 50%;
                cursor: pointer;
                > a {
                    color: $jDarkGreen;
                    font-size: 1.6vw;
                    transition: all .5s;
                    height: fit-content;
                }
                &:hover {
                    background-color: $jGreen;
                    > a {
                        color: $jBeige;
                    }
                }
            } 
        }
        .bot_menus {
            font-family: $headline;
            font-size: 1.9vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
            gap: 1vw 0;
            margin-bottom: 2vw;
            > li {
                > a {
                    color: $jDarkGreen;
                    display: flex;
                    align-items: center;
                    > img {
                        width: 1.9vw;
                        opacity: 0;
                        transition: all .5s;
                    }
                }
                &:hover {
                    > a {
                        > img {
                            opacity: 1;
                        }
                    }
                }
            } 
        }
    } 
}
.flow_icons{
    background-color: $jBeige;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100px;
    opacity: 1;
    padding: 40px 0;
    .flow_wrap{
        display: flex;
        height: 100%;
        flex-wrap: nowrap;
        animation: bannermove 20s linear infinite;
        width: 200%;
        > img {
            width: 11.11111%;
            padding: 0 60px;
        }
    }
}
/* 미디어쿼리 1000 */

@media screen and (max-width:1000px){
    #header {
        .center {
            width: 95%;
            > div {
                > a {
                    display: none;
                }
            }
        }               
    }
    .slide_gnb {
        > ul {
            margin-right: 8%;
            li {
                margin: 60px 0;
                justify-content: center;
                a {
                    font-size: 5vw;
                    img{
                        width:4.5vw;
                        margin-right: 10px;
                    }
                }
            }
        }
    }             
    #footer {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .left_img{
            width: 90%;
            border-radius: 10%;
            > img{
                width: 120%;
                
            }
        }
        .right_wrap {
            width: 90%;
            > h4 {
                font-size: 8vw;
                line-height: 150%;
                letter-spacing: 1px;
                text-align: center;
                > img {
                    margin: 10px;
                }
            }
            > h6 {
                font-size: 3vw;
                line-height: 200%;
            }
            > a {
                padding:1em 2em;
                &:hover {
                    color: $jLemon;
                    background-color: $jGreen;
                    border-color: $jGreen;
                }
            }
            .sns_wrap {
                width: 50%;
                margin-bottom: 5%;
                > li {
                    width: 5vw;
                    height: 5vw;
                    cursor: pointer;
                    > a {
                        font-size: 4vw;
                    }
                } 
            }
            .bot_menus {
                font-size: 4vw;
                flex-direction: row;
                justify-content: center;
                width: 80%;
                gap: 6vw;
                > li {
                    width: 100%;     
                    > a {
                        justify-content: center;
                        > img {
                            width: 4vw;

                        }
                    }
                } 
            }
        } 
    }
    .flow_icons{
        width: 100vw;
        .flow_wrap{
            > img {
                width: 20%;
            }
        }
    }
}    

/* 미디어쿼리 500 */
@media screen and (max-width:500px){
    #header {
        .center {
            .menu_wrap {
                > a {
                    margin-left:20px;
                }   
            }
            > .logo_wrap {
                margin-left: 10px;
            }
            .buy_wrap {
                button {
                    margin-right: 10px;
                }
            }
        }
    }
    .slide_gnb {
        > ul {
            margin-right: 0%;
            left: 40%;
            li {
                width: 120%;
                a {
                    font-size: 10vw;
                    img{
                        width:6vw;
                    }
                }
            }
        }
    }   
    #footer {
        .right_wrap {
            > h6 {
                margin: 10px 0;
                font-size: 3.5vw;
            }
            > ul.bot_menus {
                margin-right: 5%;
            }
            > a {
                font-size: 3vw;
            }
        }
    }
    .flow_icons{
        width: 100vw;
        .flow_wrap{
            width: 600%;
            > img {
                width: 25%;
                padding: 0px 30px;
            }
        }
    }
}