// 구글 웹 폰트 기본설정
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
}

* { margin: 0; padding:0;}
a {text-decoration: none;}
body {line-height: 1; overflow-x: hidden;}
// body.fixed {position: fixed; width:100%; top:0 ; left:0; overflow: hidden;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
img, video { vertical-align: top;}
ol, ul, li { list-style: none;}
table {
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
td {padding:0;}

// 제목 폰트 (hs봄바람체) normal
@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//서브제목용 폰트 (한림명조체), 400, 700
@font-face {
    font-family: 'HallymMjo';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'HallymMjo';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hallym/HallymMjo-Bold.ttf') format("truetype");
    font-display: swap;
}  

// 본문용 폰트 (프리텐다드), 100~900 
/* Pretendard-Thin */
@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
      format("woff");
    font-weight: 100;
    font-style: normal;
  }
  /* Pretendard-ExtraLight */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
      format("woff");
    font-weight: 200;
    font-style: normal;
  }
  /* Pretendard-Light */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
      format("woff");
    font-weight: 300;
    font-style: normal;
  }
  /* Pretendard-Regular */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  /* Pretendard-Medium */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
      format("woff");
    font-weight: 500;
    font-style: normal;
  }
  /* Pretendard-SemiBold */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
  }
  /* Pretendard-Bold */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
  }
  /* Pretendard-ExtraBold */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
      format("woff");
    font-weight: 800;
    font-style: normal;
  }
  /* Pretendard-Black */
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
      format("woff");
    font-weight: 900;
    font-style: normal;
  }