// 컬러 팔레트 변수
$jDarkGreen: #14402B;
$jGreen:#0C592E;
$jWine:#402826;
$jRed:#8C182D;
$jBeige:#f7e8bb;
$jLemon:#F9F69B;
$jOnion:#FDE390;
$jKhaki:#E3D681;

// 폰트 이름 변수
$headline: 'HSBombaram21-Regular';
$subHeadline:'HallymMjo';
$context: "Pretendard";

#container {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $jBeige;
    margin-top:76px;
    // 개인정보 처리 방침 페이지
    > .terms_wrap {
        color: $jDarkGreen;
        width: 50%;
        .title {
            text-align: center;
            font-size: 5vw;
            line-height: 200%;
            font-family: $headline;
        }
        .center {
            > section {
                margin-bottom: 2vw; 
                > h3 {
                    font-size: 2vw;
                    line-height: 160%;
                    font-family: $headline;
                    color: $jDarkGreen;
                }
                > p {
                    font-size: 1vw;
                    line-height: 200%;
                    font-family: $context;
                    font-weight: 500;
                    word-break: keep-all;
                    color: $jDarkGreen;
                    > a {
                        color: $jGreen;
                    }
                }
            }
        }
    }
    // 회원가입 페이지
    .join_wrap {
        width: 100%;
        .title {
            width: 100%;
            margin-bottom: 4%;
            > h2 {
                text-align: center;
                font-size: 5vw;
                line-height: 200%;
                font-family: $headline;
                color: $jDarkGreen;
            }
        }
        .input_area {
            width: 100%;
            display: flex;
            justify-content: center;
            #join_form {
                width: 60%;
                display: flex;
                flex-direction: column;
                > .terms_wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    > h3 {
                        text-align: left;
                        font-size: 3vw;
                        font-family: $headline;
                        font-weight: 800;
                        color: $jDarkGreen;
                    }
                    > .terms {
                        text-align: left;
                        font-size: 1vw;
                        font-family: $context;
                        font-weight: 500;
                        color: $jDarkGreen;
                        width: calc(99% - .6vw);
                        height: 10vw;
                        word-break: keep-all;
                        overflow-y: scroll;
                        line-height: 160%;
                        border: 4px solid $jDarkGreen;
                        border-radius: .4vw;
                        white-space:pre-line;
                        padding: 1%;
                        &::-webkit-scrollbar { 
                            width: 1vw;
                            border-radius: 1vw;
                        }
                        &::-webkit-scrollbar-thumb { 
                            background-color: #14402B;
                            border-radius: .5vw;
                            border: .2vw solid #F7E8BBCC;
                        }
                        &::-webkit-scrollbar-track { 
                            background-color: #14402B33;
                        }
                    }
                    > .memberterms {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        font-family: $context;
                        line-height: 320%;
                        > input {
                            border: 2px solid $jDarkGreen;
                            background-color: none;
                            accent-color: $jGreen;
                            margin-right: .4vw;
                        }
                        > label {
                            cursor: pointer;
                            font-size: 1vw;
                            color: $jDarkGreen;
                            font-family: $context;
                            font-weight: 500;
                        }
                    }
                }
                > .memberinfo_wrap {
                    width: 100%;
                    border: 4px solid $jDarkGreen;
                    border-radius: .5vw;
                    overflow: hidden;
                    > div {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        color:$jBeige;
                        border-bottom: 4px solid $jDarkGreen;
                        &.memberphone {
                            > div {
                                > input {
                                    text-align: center;
                                    width: 3vw;
                                }
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        > label {
                            color: $jOnion;
                            font-family: $context;
                            font-weight: 800;
                            cursor: pointer;
                            font-size: 1vw;
                            line-height: 280%;
                            width: 20%;
                            text-align: center;
                            background-color: $jDarkGreen;
                        }
                        > div {
                            background-color: $jBeige;
                            outline: none;
                            line-height: 200%;
                            position: relative;
                            color: $jDarkGreen;
                            > input {
                                border: none;
                                border-bottom: 2px solid $jDarkGreen;
                                margin: 0 .5vw;
                                outline: none;
                                background-color: transparent;
                                font-size: .8vw;
                                color:$jDarkGreen;
                                &::placeholder {
                                    color: $jGreen;
                                }
                            }
                            > span {
                                color: $jGreen;
                                position: absolute;
                                top:50%;
                                transform: translateY(-50%);
                                right: 4%;
                                font-size: .6vw;
                                cursor: pointer;
                            }
                            > select{
                                background-color: transparent;
                                border: none;
                                border-bottom: 2px solid $jDarkGreen;
                                font-size: 1vw;
                                font-family: $context;
                                font-weight: 400;
                                color: $jDarkGreen;
                                > option {
                                    background-color: $jBeige;
                                    font-weight: 400;
                                    line-height: 200%;
                                }
                            }
                        }
                        > span {
                            display: inline-block;
                            color: $jDarkGreen;
                            font-size: 1vw;
                            text-indent: 1vw;
                            font-family: $context;
                        }
                        &.error {
                            > div {
                                > input {
                                    border-bottom: 2px solid $jRed;
                                }
                            }
                            > span {
                                display: inline-block;
                                color:$jRed;
                                text-decoration: underline;
                            }
                        }
                        &.ok {
                            > div {
                                > input {
                                    border-bottom: 2px solid $jGreen;
                                }
                            }
                            > span {
                                display: none;
                            }
                            &::after {
                                content: "확인되었습니다.";
                                display: inline-block;
                                color: $jGreen;
                                font-family: $context;
                                font-size: .8vw;
                                font-weight: 500;
                            }
                        }
                    }
                }
                > #joinBtn {
                    font-family: $context;
                    background-color: $jDarkGreen;
                    width: 20%;
                    margin: 2% auto;
                    display: block;
                    color: $jOnion;
                    font-weight: 800;
                    font-size: .8vw;
                    line-height: 320%;
                    cursor: pointer;
                    border-radius: 1vw;
                    border: none;
                }
            }
        }
    }
}
@media screen and (max-width:1124px){
    #container {
        // 회원가입 페이지
        .join_wrap {
            .title {
                > h2 {
                    font-size: 7vw;
                }
            }
            .input_area {
                #join_form {
                    width: 80%;
                    > .terms_wrap {
                        > h3 {
                            font-size: 4vw;
                        }
                        > .terms {
                            font-size: 1.5vw;
                        }
                        > .memberterms {
                            > label {
                                cursor: pointer;
                                font-size: 1.5vw;
                            }
                        }
                    }
                    > .memberinfo_wrap {
                        > div {
                            &.memberphone {
                                > div {
                                    > input {
                                        width: 6vw;
                                    }
                                }
                            }
                            &.memberemail {
                                > div {
                                    > input {
                                        &:first-child {
                                            width: auto;
                                        }
                                    }
                                }
                            }
                            > label {
                                font-size: 1.5vw;
                                height: auto;
                            }
                            > div {
                                > input {
                                    font-size: 1.2vw;
                                }
                                > span {
                                    font-size: 1vw;
                                }
                            }
                            &.error {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jRed;
                                    }
                                }
                                > span {
                                    display: inline-block;
                                    color:$jRed;
                                    text-decoration: underline;
                                }
                            }
                            &.ok {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jGreen;
                                    }
                                }
                                > span {
                                    display: none;
                                }
                                &::after {
                                    content: "확인되었습니다.";
                                    display: inline-block;
                                    color: $jGreen;
                                    font-family: $context;
                                    font-size: .8vw;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    > #joinBtn {
                        font-family: $context;
                        background-color: $jDarkGreen;
                        width: 20%;
                        margin: 2% auto;
                        display: block;
                        color: $jOnion;
                        font-weight: 800;
                        font-size: .8vw;
                        line-height: 320%;
                        cursor: pointer;
                        border-radius: 1vw;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    #container {
        // 개인정보 처리 방침 페이지
        > .terms_wrap {
            width: 70%;
            .title {
                font-size: 8vw;
            }
            .center {
                > section {
                    margin-bottom: 2vw; 
                    > h3 {
                        font-size: 4vw;
                    }
                    > p {
                        font-size: 1.5vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:760px){
    #container {
        // 개인정보 처리 방침 페이지
        > .terms_wrap {
            width: 70%;
            .title {
                font-size: 10vw;
            }
            .center {
                > section {
                    margin-bottom: 2vw; 
                    > h3 {
                        font-size: 5vw;
                    }
                    > p {
                        font-size: 2vw;
                    }
                }
            }
        }
        // 회원가입 페이지
        .join_wrap {
            width: 100%;
            .title {
                width: 100%;
                margin-bottom: 4%;
                > h2 {
                    text-align: center;
                    font-size: 9vw;
                    line-height: 200%;
                    font-family: $headline;
                    color: $jDarkGreen;
                }
            }
            .input_area {
                #join_form {
                    width: 90%;
                    > .terms_wrap {
                        > h3 {
                            font-size: 5vw;
                        }
                        > .terms {
                            font-size: 1.5vw;
                            
                        }
                        > .memberterms {
                            > label {
                                font-size: 1.5vw;
                            }
                        }
                    }
                    > .memberinfo_wrap {
                        width: 100%;
                        border: 4px solid $jDarkGreen;
                        border-radius: .5vw;
                        overflow: hidden;
                        > div {
                            &.memberphone {
                                > div {
                                    > input {
                                        text-align: center;
                                        width: 7vw;
                                    }
                                }
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                            > label {
                                font-size: 2vw;
                                line-height: 400%;
                            }
                            > div {
                                font-size: 1.5vw;
                                > input {
                                    font-size: 1.5vw;
                                }
                                > select{
                                    font-size: 1.5vw;
                                }
                            }
                            > span {
                                display: inline-block;
                                color: $jDarkGreen;
                                font-size: 1.5vw;
                                text-indent: 1.5vw;
                                font-family: $context;
                            }
                            &.error {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jRed;
                                    }
                                }
                                > span {
                                    display: inline-block;
                                    color:$jRed;
                                    text-decoration: underline;
                                }
                            }
                            &.ok {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jGreen;
                                    }
                                }
                                > span {
                                    display: none;
                                }
                                &::after {
                                    content: "확인되었습니다.";
                                    display: inline-block;
                                    color: $jGreen;
                                    font-family: $context;
                                    font-size: 2vw;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    > #joinBtn {
                        font-family: $context;
                        background-color: $jDarkGreen;
                        width: 20%;
                        margin: 2% auto;
                        display: block;
                        color: $jOnion;
                        font-weight: 800;
                        font-size: 2vw;
                        line-height: 320%;
                        cursor: pointer;
                        border-radius: 1vw;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:640px){
    #container {
        // 회원가입 페이지
        .join_wrap {
            .title {
                > h2 {
                    font-size: 10vw;
                }
            }
            .input_area {
                #join_form {
                    width: 90%;
                    > .terms_wrap {
                        > h3 {
                            font-size: 6vw;
                        }
                        > .terms {
                            font-size: 2vw;
                            
                        }
                        > .memberterms {
                            > label {
                                font-size: 2vw;
                            }
                        }
                    }
                    > .memberinfo_wrap {
                        > div {
                            flex-direction: column;
                            > label {
                                font-size: 2vw;
                                line-height: 320%;
                                width: 100%;
                            }
                            > div {
                                margin: 2vw 0;
                                font-size: 2vw;
                                > input {
                                    font-size: 2vw;
                                    font-family: $context;
                                    text-align: center;
                                    margin-top: 1vw 0;
                                }
                                > select{
                                    font-size: 2vw;
                                }
                            }
                            > span {
                                display: inline-block;
                                color: $jDarkGreen;
                                font-size: 2vw;
                                text-indent: 1vw;
                                font-family: $context;
                                margin-bottom: 2vw;
                            }
                            &.error {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jRed;
                                    }
                                }
                                > span {
                                    display: inline-block;
                                    color:$jRed;
                                    text-decoration: underline;
                                }
                            }
                            &.ok {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jGreen;
                                    }
                                }
                                > span {
                                    display: none;
                                }
                                &::after {
                                    content: "확인되었습니다.";
                                    display: inline-block;
                                    color: $jGreen;
                                    font-family: $context;
                                    font-size: 2vw;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    > #joinBtn {
                        width: 25%;
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    #container {
        // 개인정보 처리 방침 페이지
        > .terms_wrap {
            width: 90%;
            .title {
                font-size: 12vw;
            }
            .center {
                > section {
                    margin-bottom: 4vw; 
                    > h3 {
                        font-size: 6vw;
                    }
                    > p {
                        font-size: 3vw;
                    }
                }
            }
        }
        // 회원가입 페이지
        .join_wrap {
            .title {
                > h2 {
                    font-size: 12vw;
                }
            }
            .input_area {
                #join_form {
                    > .terms_wrap {
                        > h3 {
                            font-size: 7vw;
                        }
                        > .terms {
                            font-size: 2.5vw;
                            height: 20vw;
                        }
                        > .memberterms {
                            > label {
                                font-size: 2.5vw; 
                            }
                        }
                    }
                    > .memberinfo_wrap {
                        > div {
                            flex-direction: column;
                            > label {
                                font-size: 3vw;
                                line-height: 320%;
                                width: 100%;
                            }
                            > div {
                                margin: 2vw 0;
                                font-size: 2.5vw;
                                > input {
                                    font-size: 2.5vw;
                                    font-family: $context;
                                    text-align: center;
                                    margin-top: 1vw 0;
                                }
                                > select{
                                    font-size: 2.5vw;
                                }
                            }
                            > span {
                                display: inline-block;
                                color: $jDarkGreen;
                                font-size: 2.5vw;
                                text-indent: 1vw;
                                font-family: $context;
                                margin-bottom: 2vw;
                            }
                            &.ok {
                                > div {
                                    > input {
                                        border-bottom: 2px solid $jGreen;
                                    }
                                }
                                > span {
                                    display: none;
                                }
                                &::after {
                                    content: "확인되었습니다.";
                                    display: inline-block;
                                    color: $jGreen;
                                    font-family: $context;
                                    font-size: 2.5vw;
                                }
                            }
                        }
                    }
                    > #joinBtn {
                        width: 30%;
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}
