<%- include('header', {title:"제임슨 위스키 FAQ",  cssFiles:["reset.css", "HeaderFooter.css","faq.css"]}) %> 
<div id="container">
    <!-- 비회원도 볼 수 있는 자주 묻는 질문 페이지-->
    <div class="faq_wrap" id="FAQ">
        <h2 class="title" data-aos="fade-up" data-aos-duration="1000">자주 묻는 질문</h2>
        <div class="faqs" data-aos="fade-up" data-aos-duration="1000">
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>제임슨 위스키는 버번, 혹은 스카치 위스키인가요?</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>제임슨 위스키는 보리부터 병까지 아일랜드산을 사용한  프리미엄 블랜디드 아이리쉬 위스키입니다. 그 <a href="/history">역사</a>와 <a href="/craft">양조장</a>에 대해서 살펴보세요. 다만 <a href="/product/black-barrel">제임슨 블랙 베럴</a>의 일부 원액은 버번 위스키 베럴에서 숙성합니다.</p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>제임슨 위스키는 어디서 구매 가능한가요?</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>주류는 온라인상 구매가 불가능합니다. 비회원과 회원 모두 <a href="/location">공식 오프라인 구매처</a>에 방문하셔서 구매하셔야 합니다. 회원의 경우 <a href="/collection">상품 페이지</a>에서 원하는 판매처와 구매 수량을 지정해 구매 예약이 가능합니다. 필히 신분증을 지참하시어 방문해주세요. 사업자 등록증이 없는 개인 고객의 경우 개인 주류 구매 한도인 한 박스를 초과하는 수량의 구매를 원하실 경우 원하시는 구매처에 미리 연락하서야 합니다.</p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>제임슨 위스키는 어떻게 마시는 게 좋나요?</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p><a href="/recipes">레시피 페이지</a>에 귀사가 제공하는 시그니쳐 칵테일 레시피들이 많이 있습니다. 이를 참조하셔서 자신만의 방법으로 즐기시기 바랍니다.</p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>맥주 애호가도 즐길 수 있는 위스키가 있을까요?</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>아이리쉬 흑맥주를 사용한 <a href="/product/stout">제임슨 스타우트</a>와 아이리쉬 페일 에일을 사용한 <a href="/product/ipa">제임슨 IPA</a>를 시도해보세요.</p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>커피 애호가에게 추천하는 위스키가 있나요?</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>아이리쉬 커피를 만들 때 자주 사용되는 <a href="/product/original">제임슨 오리지날</a>이나, 프리미엄 콜드브루 원액을 블랜딩한 <a href="/product/coldbrew">제임슨 콜드브루</a>를 추천드립니다.</p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>제임슨 위스키를 상큼하고 가볍게 즐기고 싶어요.</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>사실 대부분의 제임슨 위스키가 시트러스한 칵테일 레시피와 궁합이 좋습니다. <a href="/recipes">레시피 페이지</a>를 참고하시면 좋을 것입니다. 단일 상품으로는 천연 오렌지 풍미가 느껴지는 <a href="/product/coldbrew">제임슨 오렌지</a>를 추천드립니다. </p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>제임슨 위스키는 어디서 가장 합리적인 가격에 구매 가능한가요?</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>등록되지 않은 온,오프라인 판매처에서 구매하실 경우 모조품일 위험이 있습니다. <a href="/location">공식 오프라인 구매처</a>에서 구매하시는 것이 가장 안전하고 좋은 가격에 구매할 수 있습니다. </p>
                </div>
            </div>
            <div class="faq">
                <a href="#" class="faq_top">
                    <h4>Q</h4>
                    <div class="faq_top_right">
                        <h3>그 외 다른 질의사항이 있어요.</h3>
                        <p class="more">+</p>
                    </div>
                </a>
                <div class="faq_bot">
                    <p>회원의 경우 <a href="/qna">QnA</a>페이지를 통해서 문의하실 수 있으며, 비회원의 경우 <a href="mailto:info@jamesonwhiskey.co.kr">공식 이메일</a>로도 질의하실 수 있습니다. 재고 유무 등 구매에 관한 부분은 인근의<a href="/location"> 공식 오프라인 구매처</a>를 찾아 문의하시는 것이 빠릅니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer', {jsFiles:["tabMenu.js", "faq.js"]}) %> 