<% const flavorWhiskeyLists = [
    {
        link:"orange",
        name:"제임슨 오렌지",
        price:35000,
        nukkiImg:"/img/slide_orangeJameson.webp",
    },
    {
        link:"coldbrew",
        name:"제임슨 콜드브루",
        price:35000,
        nukkiImg:"/img/slide_coldbrewJameson.webp",
    },
    {
        link:"ipa",
        name:"제임슨 IPA",
        price:35000,
        nukkiImg:"/img/slide_ipaJameson.webp",
    },
    {
        link:"stout",
        name:"제임슨 스타우트",
        price:35000,
        nukkiImg:"/img/slide_stoutJameson.webp",
    },
    {
        link:"black-barrel",
        name:"제임슨 블랙배럴",
        price:45000,
        nukkiImg:"/img/slide_blackbarrelJameson.webp",
    }
] %>

<% flavorWhiskeyLists.forEach((el, idx) => { %>
    <div class="prdBoxWrap" data-aos="fade-up" data-aos-duration="1000">
        <a class="prdBox" href="/product/<%- el.link %>">
            <div class="img_box">
                <img src="<%- el.nukkiImg %>">
            </div>
            <h5 class="prdName"><%- el.name %></h5>
            <p class="price"><%- Number(el.price).toLocaleString(); %>원</p>
        </a>
    </div>             
<% }) %>