<%- include('header', {title:"Jameson",  cssFiles:["reset.css","style.css"]}) %> 
    <div id="container">
        <div class="cont1">
            <div class="center">
                <div class="c1_left">
                    <h2 data-aos="fade-up" data-aos-duration="2000">단 하나뿐인 특별함</h2> 
                    <h2 data-aos="fade-up" data-aos-duration="2000">제임슨 위스키<img src="/img/star_marquee_1.svg"></h2>
                    <h5 data-aos="fade-up" data-aos-duration="1000">두 배로 부드러운 아이리쉬 위스키를 위해 세번의 증류를 고집합니다. 균형잡힌 복합미와 다양한 풍미를 경험해보세요.</h5>
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <a href="#">구매처 찾기</a>
                    </div>
                </div>
                <div class="c1_right" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="2000">
                    <img src="/img/c1_img.png">
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="flowText">
                <div class="flowTextTop">
                    <!-- ejs로 반복문 처리-->
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                    <span><img src="/img/star_marquee_1.svg">Perfect Irish Whiskey</span>
                </div>
            </div>
            <div class="center">
                <div class="swiper c2swiper" data-aos="fade-up" data-aos-duration="1000">
                    <div class="swiper-wrapper">
                        <img class="swiper-slide" src="/img/recipe_ipa_highball.webp">
                        <img class="swiper-slide" src="/img/recipe_Orange_cosmopolitan.webp">
                        <img class="swiper-slide" src="/img/recipe_The_Bumble_Bea_card.webp">
                        <img class="swiper-slide" src="/img/recipe_strawberry_field.webp">
                        <img class="swiper-slide" src="/img/recipe_dalgona_coffee2.webp">
                        <img class="swiper-slide" src="/img/recipe_highball.webp">
                    </div>
                    <div class="btn_wrap">
                        <button class="swiper-button-prev">이전</button>                        
                        <button class="swiper-button-next">다음</button>
                    </div>
                </div>
                <div class="swiper c2textswiper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h6>SIGNITURE COCKTAIL</h6>
                            <h3>트로피컬 제임슨 IPA</h3>
                            <p>미네랄 솔트를 곁들인 이 코코넛 위스키 칵테일로 열대 지방의 맛을 만끽하세요.</p>
                            <div class="recipe_wrap">
                                <a href="#">레시피 보기</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h6>SIGNITURE COCKTAIL</h6>
                            <h3>오렌지 코스모</h3>
                            <p>석양을 닮은 코스모폴리탄과 제임슨 위스키의 새로운 조합입니다.</p>
                            <div class="recipe_wrap">
                                <a href="#">레시피 보기</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h6>SIGNITURE COCKTAIL</h6>
                            <h3>제임슨 범블비</h3>
                            <p>스피루리나로 색을 내고 홈메이드 바닐라 허니 시럽으로 맛을 낸 위스키 사워입니다.</p>
                            <div class="recipe_wrap">
                                <a href="#">레시피 보기</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h6>SIGNITURE COCKTAIL</h6>
                            <h3>스트로베리 필드</h3>
                            <p>딸기와 사과로 아일랜드의 여름을 담았습니다. 여름의 무더위와 스트레스를 날려줄 것입니다.</p>
                            <div class="recipe_wrap">
                                <a href="#">레시피 보기</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h6>SIGNITURE COCKTAIL</h6>
                            <h3>달고나 라떼 칵테일</h3>
                            <p>아이리쉬 커피와 달고나 커피의 환상적인 조합입니다. 간단한 재료로 편하게 즐기세요.</p>
                            <div class="recipe_wrap">
                                <a href="#">레시피 보기</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h6>SIGNITURE COCKTAIL</h6>
                            <h3>진저 & 라임 하이볼</h3>
                            <p>어떤 날이든, 누구와 함께든 항상 정답이 될 수 있는 레시피입니다. 쉽고 간편합니다.</p>
                            <div class="recipe_wrap">
                                <a href="#">레시피 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flowText">
                <div class="flowTextBot">
                    <!-- ejs로 반복문 처리-->
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                    <span><img src="/img/ontherock.svg">Featured Recipes</span>
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="center">
                <div class="left_msg">
                    <h2 data-aos="fade-up" data-aos-duration="2000">더 다양해진 제임슨 위스키를 살펴보세요</h2>
                    <div class="swiper textSwiper" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h5>제임슨 오리지날</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 블랙베럴</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 IPA</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 콜드브루</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 오렌지</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 스타우트</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 싱글팟스틸</h5>
                                <a href="#">Go</a>
                            </div>
                            <div class="swiper-slide">
                                <h5>제임슨 크레스티드</h5>
                                <a href="#">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper c3Swiper" data-aos="flip-right" data-aos-duration="1000">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/img/slide_originalJameson.webp">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_blackbarrelJameson.webp">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_ipaJameson.webp">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_coldbrewJameson.webp">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_orangeJameson.webp">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_stoutJameson.webp">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_singlepotstillJameson.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/slide_crestedJameson.webp">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div>
                    <div class="lefts" data-aos="fade-up" data-aos-duration="1500">
                        <div class="txts">
                            <p>제임슨 위스키의 300년간의 역사</p>
                            <a href="#"><img src="/img/star_marquee_onion.svg">더보기<img src="/img/star_marquee_onion.svg"></a>
                        </div>
                    </div>
                    <div class="lefts" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                        <div class="txts">
                            <p>프리미엄 아이리쉬 위스키를 만드는 양조장</p>
                            <a href="#"><img src="/img/star_marquee_onion.svg">더보기<img src="/img/star_marquee_onion.svg"></a>
                        </div>
                    </div>
                    <div class="lefts" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                        <div class="txts">
                            <p>제임슨 위스키를 어디서 만나볼 수 있을까요?</p>
                            <a href="#"><img src="/img/star_marquee_onion.svg">더보기<img src="/img/star_marquee_onion.svg"></a>
                        </div>
                    </div>
                </div>
                <div class="sticky" data-aos="fade-left" data-aos-duration="500">
                    <h3>히스토리</h3>
                    <p>존 제임슨이 창립한 이래 300년간 세계 최고의 아이리쉬 위스키를 만들고자 노력하고 있습니다. 제임슨 위스키의 역사와, 살아있는 역사인 양조장을 한눈에 살펴보세요.
                    </p>
                </div>
            </div>
        </div>
    </div>
   <%- include('footer', {jsFiles:["tabMenu.js", "cont2_slide.js", "swiper_c3.js"]}) %> 