<%- include('header', {title:"Jameson",  cssFiles:["reset.css", "HeaderFooter.css", "terms.css"]}) %> 
    <div id="container">
        <div class="join_wrap">
            <div class="title">
                <h2>멤버쉽 가입</h2>
            </div>
            <div class="input_area">
                <form id="join_form" action="/joindb" method="post">
                    <div class="terms_wrap">
                        <h3>개인정보 처리 약관</h3>
                        <pre class="terms">
                            약관
                            이 "사이트"에 액세스하는 사용자, 시청자 및 모든 사람들에게 다음 약관이 적용됩니다. 이 사이트를 사용하거나 시청함으로써 이 약관에 동의하는 것입니다. 동의하지 않는 경우 이 사이트를 사용하지 마십시오. 이 웹사이트의 액세스 또는 사용은 사용자의 자의입니다.

                            운영자 정보

                            이 사이트는 Irish Distillers International Limited이라는 아일랜드에 등록된 사설 회사로 운영됩니다. 등록 번호는 15558이며, 사무실은 아일랜드 더블린 4번 구역 발스브리지 시몬스코트 로드에 위치하고 있습니다. 이와 관련된 문제에 대해서는 info@jamesonwhiskey.com으로 문의하십시오.

                            이용 규칙

                            이 사이트를 사용하려면 거주하는 국가의 법적 음주 연령을 준수해야 합니다. 해당 연령에 미달하는 경우 이 사이트에 접속하지 마십시오.

                            이 사이트에 대한 액세스는 일시적인 권한으로 허용되며, 우리는 사전 통지 없이 사이트에서 제공하는 서비스를 철회, 일시 중지 또는 변경할 권한을 보유합니다. 이 사이트는 정기적으로 변경되고 업데이트되며, 어떤 이유로든 사이트나 그에 포함된 자료가 언제든지 사용 불가능한 경우 IDIL은 책임을지지 않습니다. 이 사이트의 자료는 사전 서면 동의 없이는 수정, 복제, 배포, 재게시, 업로드, 게시, 전송할 수 없습니다. 이 사이트와 그에 게시된 자료에 대한 모든 지적 재산권은 IDIL의 소유자 또는 허가 받은 사람에게 있으며, 이와 관련된 모든 권리가 보호됩니다. 이 사이트를 사용하거나 액세스함으로써 권리나 지적 재산권이 귀하에게 이전되지 않습니다. 사이트의 모든 측면에 대한 모든 권리, 소유권 및 이익은 IDIL의 소유로 유지됩니다. 이 사이트의 자료는 합법적인 목적으로만 제공됩니다.

                            책임

                            법률이 허용하는 한도 내에서, 어떠한 경우에도 IDIL은 (직접적, 부수적, 결과적 또는 간접적인 손실을 포함하여 손익 상실, 수익 또는 매출 상실, 선의의 상실, 업무 중단, 데이터 또는 정보 손실, 특별 또는 징계적 손해 등) 사용 또는 액세스 또는 사이트의 사용 불가능성으로 인해 발생하는 손실, 피해, 상해 또는 부상에 대해 어떠한 책임도 부담하지 않습니다. 이러한 손실이나 피해는 사건이 민법상 책임, 계약 위반 또는 기타 이유로 인해 발생하며, 사이트의 사용, 액세스, 사용 불가능성, 이 사이트의 자료 또는 이 사이트에 연결된 사이트의 사용과 관련되거나 발생하거나 그로 인해 야기될 수 있습니다. 또한 성능 결함, 오류, 생략, 중단, 결함, 운영 전송 지연, 컴퓨터 바이러스, 회선 장애로 인해 발생하는 손실이나 피해도 해당됩니다. 이 약관에 따라 IDIL의 과실로 인한 사망이나 개인상해에 대한 책임, 사기적인 표현이나 기본적인 사안에 대한 오인으로 인한 책임, 적용 가능한 법률에 따라 제외되거나 제한될 수 없는 어떠한 책임도 제외하지 않습니다.

                            제출물에 대한 규정

                            제출된 어떠한 의견, 제안, 질문, 아이디어, 창의적인 개념, 그래픽 또는 기타 정보(통칭 "제출물")에 대해, 제출자는 IDIL에게 비독점적 라이선스를 부여하는 것에 동의합니다. 제출자는 여전히 제출물에 대한 저작권을 소유하지만, IDIL은 제출물에 포함된 자료를 자유롭게 사용, 편집, 변경, 복제, 출판 및/또는 배포할 권리를 갖습니다. 이 라이선스는 무료이며 영구적이며 하위 라이선스를 부여할 수 있습니다. IDIL은 제출물을 기밀로 취급할 필요가 없으며, 제출물의 사용 또는 공개에 대해 어떠한 책임도 지지 않으며, 제출물에 대한 보상이나 인정을 제공할 필요가 없습니다. IDIL은 제출물에 포함된 자료에 대한 저작권과 홍보권을 모든 관할권역에서 모든 범위와 해당 자료에서 해당 권리가 존재하는 전체 기간 동안 행사할 수 있습니다. 제출물이 다른 사람의 저작권, 데이터베이스 권리, 상표권 또는 기타 지적 재산권을 침해하지 않으며 불법, 위협적, 명예훼손, 중상적, 음란한, 음란물이거나 부적절한 행동을 구성하거나 장려할 수 있는 자료를 포함하지 않도록 주의해야 합니다.

                            관할권

                            본 협약은 아일랜드 법에 따라 규율됩니다. 이용 약관으로 인한 분쟁은 아일랜드 법원의 독점적 관할권에 제출될 것이나, 이는 IDIL이 귀하의 거주 국가 또는 다른 관련 국가에서 이용 약관 위반으로 인한 소송을 제기할 권리에 영향을 주지 않습니다. 그 밖의 사항은 IDIL과 그 제품에 대한 정보 제공을 목적으로 이 사이트의 모든 자료가 제공됩니다. IDIL은 이 사이트를 아일랜드 공화국에서 운영하며, 이러한 자료가 다른 지역에서 사용하기에 적합하거나 이용 가능하다는 어떠한 표시도 하지 않습니다.

                            상표 정보

                            IDIL의 제품과 브랜드와 관련된 모든 상표, 로고, 디자인, 라벨, 병 디자인 및 모든 기타 지적 재산은 Irish Distillers International Ltd.의 소유입니다. 이러한 상표의 목록은 아일랜드 디스틸러스 국제 주식회사, Simmonscourt House, Simmonscourt Road, Ballsbridge, Dublin 4, Ireland의 인터넷 담당자로부터 얻을 수 있습니다. 위에서 설명한 것과 다르게 이 사이트의 내용 또는 이러한 상표의 오용은 엄격히 금지됩니다. 다른 모든 상표는 해당 상표 소유자의 재산입니다.
                        </pre>
                        <div class="memberterms">
                            <input type="checkbox" id="memberterms"/><label for="memberterms">이용약관에 동의합니다.</label>
                        </div>
                    </div>
                    <div class="memberinfo_wrap">
                        <div class="memberid">
                            <label for="memberid">아이디</label>
                            <div class="id_wrap">
                                <input id="memberid" type="text" name="memberid" minlength="6" maxlength="12" placeholder="아이디를 입력하세요"/>
                            </div>
                            <span>6-12자의 영문, 숫자, 기호( - _ )만 사용이 가능합니다.</span>
                        </div>
                        <div class="memberpass">
                            <label for="memberpass">비밀번호</label>
                            <div class="pw_wrap">
                                <input id="memberpass" type="password" name="memberpass" placeholder="비밀번호를 입력하세요"/>
                                <span class="password-toggle-icon">
                                    <i class="fa fa-eye fa-lg"></i>
                                </span>
                            </div>
                            <span>20자 이내 숫자, 특수문자, 영문자 중 2가지 이상을 조합해야 합니다.</span>
                        </div>
                        <div class="memberpass_check">
                            <label for="memberpass_check">비밀번호 확인</label>
                            <div class="pwcheck_wrap">
                                <input id="memberpass_check" type="password" name="memberpass_check"  placeholder=""/>
                                <span class="password-toggle-icon">
                                    <i class="fa fa-eye fa-lg"></i>
                                </span>
                            </div>
                            <span>위에서 입력한 비밀번호를 똑같이 입력하세요.</span>
                        </div>
                        <div class="memberemail">
                            <label for="memberemail">이메일</label>
                            <div class="memberemail_wrap">
                                <input id="memberemail" type="text" name="memberemail" />
                                <span>@</span>
                                <input type="text" name="email_domain" readonly>
                                <select id="email_domain_select">
                                    <option selected disabled>이메일선택</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="직접입력">직접입력</option>
                                </select>
                            </div>
                        </div>
                        <div class="memberphone">
                            <label for="memberphone1">핸드폰번호</label>
                            <div class="memberphone_wrap">
                                <input id="memberphone1" type="text" name="memberphone" maxlength="3"/>
                                -
                                <input id="memberphone2" type="text" name="memberphone" maxlength="4"/>
                                -
                                <input id="memberphone3" type="text" name="memberphone" maxlength="4"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit">가입하기</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer', {jsFiles:["tabMenu.js"]}) %> 
