<%- include('header', {title:"Jameson",  cssFiles:["reset.css","location.css"]}) %> 
<!-- https://yhb.kr/customer-service/national-branch-network/ -->
<div id="container">
    <div class="center">
        <h2 class="title">구매처 찾기</h2>
        <div class="map_wrap">
            <div class="left_map">
                <img src="/img/maps/korea_map.png">        
                <span class="chungnam">
                    <a href="#">충남</a>
                </span>   
                <span class="chungbuk">
                    <a href="#">충북</a>
                </span>     
                <span class="sejong">
                    <a href="#">세종</a>
                </span> 
                <span class="daejeon">
                    <a href="#">대전</a>
                </span> 
                <span class="gangwon">
                    <a href="#">강원</a>
                </span> 
                <span class="gyeongbuk">
                    <a href="#">경북</a>
                </span>
                <span class="incheon">
                    <a href="#">인천</a>
                </span>    
                <span class="gyeonggi">
                    <a href="#">경기</a>
                </span>
                <span class="gyeongnam">
                    <a href="#">경남</a>
                </span>
                <span class="daegu">
                    <a href="#">대구</a>
                </span>  
                <span class="busan">
                    <a href="#">부산</a>
                </span>    
                <span class="jeju">
                    <a href="#">제주</a>
                </span>    
                <span class="jeonbuk">
                    <a href="#">전북</a>
                </span>   
                <span class="jeonnam">
                    <a href="#">전남</a>
                </span> 
                <span class="gwangju">
                    <a href="#">광주</a>
                </span>
                <span class="seoul">
                    <a href="#">서울</a>
                </span> 
                <span class="ulsan">
                    <a href="#">울산</a>
                </span> 
            </div>
            <div class="right_find">
                <h4>픽업 가능한 매장을 찾아보세요</h4>
                
            </div>
        </div>
    </div>
    
</div>
<script>

</script>
<%- include('footer', {jsFiles:["tabMenu.js", "location.js"]}) %> 