<%- include('header', {title:"Jameson",  cssFiles:["reset.css", "HeaderFooter.css","qna.css"]}) %> 
<div id="container">
    <!--회원일때만 작성 가능한 질의 게시판, 한 달 넘으면 자동 삭제. 운영자가 답변해줌-->
    <div class="qna_wrap">
        <h2 class="title">QnA</h2>
    </div>
    <div class="q_submit_wrap">
        <form id="q_submit" action="/Qsubmit" method="post" enctype="multipart/form-data" >
            <div class="detail_head">
                <div class="q_title_wrap">
                    <label for="Q_title">제목</label>
                    <input type="text" name="Q_title" id="Q_title" placeholder="제목을 입력해주세요" required />
                </div>
                <input type="hidden" name="Q_author" id="Q_author"/>
                <input type="hidden" name="Q_date" id="Q_date"/>
            </div>
            <textarea id="Q_context" name="Q_context" placeholder="문의하실 사항에 대해 입력해주세요."></textarea> 
            <div class="file_wrap">
                <label for="Q_file">파일첨부(이미지 파일만 가능)</label>
                <input type="file" name="Q_file"  id="Q_file" multiple/>
            </div>
            <div class="btn_wrap">
                <button class="Q_submit_btn" type="submit">질의하기</button>
                <button class="Q_reset_btn" type="reset">다시쓰기</button>
            </div>
        </form>
    </div>
</div>
<%- include('footer', {jsFiles:["tabMenu.js","question.js"]}) %> 