<% const tradWhiskeyLists = [
    {
        link:"original",
        name:"제임슨 오리지날",
        price:35000,
        nukkiImg:"/img/slide_originalJameson.webp",
        context:"두세줄짜리 상품설명",
        tastes : ["배열에", "맛을", "담았다"]
    },
    {
        link:"single-pot-still",
        name:"제임슨 싱글팟스틸",
        price:100000,
        nukkiImg:"/img/slide_singlepotstillJameson.png",
        context:"두세줄짜리 상품설명",
        tastes : ["배열에", "맛을", "담았다"]
    },
    {
        link:"crested",
        name:"제임슨 크레스티드",
        price:100000,
        nukkiImg:"/img/slide_crestedJameson.webp",
        context:"두세줄짜리 상품설명",
        tastes : ["배열에", "맛을", "담았다"]
    }
] %>

<% tradWhiskeyLists.forEach((el) => { %>
    <div class="prdBoxWrap" data-aos="fade-up" data-aos-duration="1000">
        <a class="prdBox" href="/product/<%- el.link %>">
            <div class="img_box">
                <img src="<%- el.nukkiImg %>">
            </div>
            <h5 class="prdName"><%- el.name %></h5>
            <p class="price"><%- Number(el.price).toLocaleString(); %>원</p>
        </a>
    </div>             
<% }) %>