#container {
  width: 100vw;
  background-color: #f7e8bb;
  margin-top: 76px;
}
#container .title {
  width: 100%;
  text-align: center;
  font-size: 5vw;
  line-height: 200%;
  font-family: "HSBombaram21-Regular";
  color: #14402B;
}
#container .center {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#container .center > form {
  width: 100%;
  border: 4px solid #14402B;
  border-radius: 1vw;
  padding: 1vw;
  margin-bottom: 4%;
}
#container .center > form .login_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#container .center > form .login_wrap .left_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#container .center > form .login_wrap .left_wrap > label {
  font-family: "HSBombaram21-Regular";
  font-weight: 800;
  color: #14402B;
  line-height: 160%;
  font-size: 2vw;
}
#container .center > form .login_wrap .left_wrap > input {
  font-family: "Pretendard";
  font-size: 1vw;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #14402B;
  display: block;
  width: 100%;
  margin-bottom: 4%;
  line-height: 200%;
  outline: none;
}
#container .center > form .login_wrap .left_wrap > input::-moz-placeholder {
  color: #14402B;
}
#container .center > form .login_wrap .left_wrap > input::placeholder {
  color: #14402B;
}
#container .center > form .login_wrap .left_wrap > input:focus {
  border-bottom: 4px solid #0C592E;
}
#container .center > form .login_wrap .left_wrap > button {
  background-color: #14402B;
  color: #f7e8bb;
  font-family: "Pretendard";
  border: none;
  border-radius: 1vw;
  font-size: 1vw;
  text-align: center;
  width: 20%;
  margin-left: auto;
  font-weight: 900;
  line-height: 360%;
  cursor: pointer;
  transition: all 0.5s;
}
#container .center > form .login_wrap .left_wrap > button:hover {
  color: #FDE390;
  background-color: #0C592E;
}
#container .center > form .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
#container .center > form .btn_wrap > a {
  font-family: "Pretendard";
  font-weight: 700;
  margin-left: 1vw;
  margin-top: 1vw;
  font-size: 1vw;
  color: #14402B;
}
#container .center > form .btn_wrap > a:hover {
  color: #0C592E;
}

@media screen and (max-width: 1200px) {
  #container .title {
    font-size: 10vw;
    line-height: 160%;
  }
  #container .center {
    width: 50%;
  }
  #container .center > form .login_wrap .left_wrap > label {
    font-size: 4vw;
  }
  #container .center > form .login_wrap .left_wrap > input {
    font-family: "Pretendard";
    font-size: 2vw;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #14402B;
    display: block;
    width: 100%;
    margin-bottom: 4%;
    line-height: 200%;
    outline: none;
  }
  #container .center > form .login_wrap .left_wrap > input::-moz-placeholder {
    color: #14402B;
  }
  #container .center > form .login_wrap .left_wrap > input::placeholder {
    color: #14402B;
  }
  #container .center > form .login_wrap .left_wrap > input:focus {
    border-bottom: 4px solid #0C592E;
  }
  #container .center > form .login_wrap .left_wrap > button {
    font-size: 2vw;
    line-height: 280%;
    width: 30%;
  }
  #container .center > form .btn_wrap > a {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 800px) {
  #container .center {
    width: 60%;
  }
  #container .center > form {
    border-radius: 2vw;
  }
  #container .center > form .login_wrap .left_wrap > label {
    font-size: 5vw;
  }
  #container .center > form .login_wrap .left_wrap > input {
    font-size: 2.5vw;
  }
  #container .center > form .login_wrap .left_wrap > button {
    font-size: 2.5vw;
    line-height: 280%;
    width: 30%;
  }
  #container .center > form .btn_wrap > a {
    font-size: 2vw;
    line-height: 200%;
  }
}
@media screen and (max-width: 500px) {
  #container .title {
    font-size: 12vw;
    line-height: 160%;
  }
  #container .center {
    width: 70%;
  }
  #container .center > form {
    border-radius: 4vw;
  }
  #container .center > form .login_wrap .left_wrap > label {
    font-size: 6vw;
  }
  #container .center > form .login_wrap .left_wrap > input {
    font-size: 3vw;
  }
  #container .center > form .login_wrap .left_wrap > button {
    font-size: 3vw;
    line-height: 320%;
    width: 35%;
  }
  #container .center > form .btn_wrap > a {
    font-size: 2.5vw;
    line-height: 200%;
  }
}