@charset "UTF-8";
@keyframes bannermove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
#container {
  width: 100vw;
  margin-top: 76px;
  background-color: #f7e8bb;
  overflow: hidden;
  /* 레시피 세부 페이지 */
}
#container > div {
  width: 100%;
}
#container > div > h2 {
  font-family: "HSBombaram21-Regular";
  text-align: center;
  color: #14402B;
  font-size: 7vw;
  line-height: 100%;
  width: 80%;
  margin: 40px auto 0px;
}
#container > div .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  margin: 2% auto;
}
#container > div .img_wrap > a {
  display: flex;
  align-items: center;
}
#container > div .img_wrap > a > img {
  height: 5vw;
}
#container > div .img_wrap > a > span {
  font-family: "HSBombaram21-Regular";
  font-size: 1vw;
  color: #14402B;
  opacity: 0;
  transition: all 0.5s;
}
#container > div .img_wrap > a:nth-child(1) > img {
  margin-right: 3vw;
  margin-left: 1.5vw;
}
#container > div .img_wrap > a:nth-child(3) > img {
  margin-left: 3vw;
  margin-right: 1.5vw;
  transform: scaleX(-1);
}
#container > div .img_wrap > a:hover > span {
  opacity: 1;
}
#container > div .img_wrap .thumbnail {
  display: flex;
  width: 50%;
  height: 32vw;
  border-radius: 12vw 12vw 0 0;
  overflow: hidden;
}
#container > div .img_wrap .thumbnail > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container > div .about_recipe_wrap {
  display: flex;
  width: 92%;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
#container > div .about_recipe_wrap > div {
  width: 30%;
  font-family: "HallymMjo";
  font-weight: 700;
  color: #14402B;
  word-break: keep-all;
  font-size: 1.5vw;
  line-height: 160%;
  letter-spacing: -0.1vw;
}
#container > div .about_recipe_wrap > div > h3 {
  font-family: "Pretendard";
  font-weight: 900;
  line-height: 400%;
  margin-bottom: 1%;
  font-size: 0.8vw;
  letter-spacing: 0.01vw;
}
#container > div .about_recipe_wrap > div > ul > li > a {
  color: #0C592E;
}
#container > div .share_wrap {
  width: 92%;
  margin: 0 auto 4%;
  text-align: center;
}
#container > div .share_wrap > img {
  width: 4vw;
  display: block;
  margin: 8% auto 4%;
}
#container > div .share_wrap > p {
  width: 50%;
  margin: 0 auto 2%;
  word-break: keep-all;
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 1vw;
  color: #14402B;
}
#container > div .share_wrap > ul {
  display: flex;
  justify-content: center;
}
#container > div .share_wrap > ul > button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #f7e8bb;
  background-color: #14402B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  margin: 1vw 0.5vw;
  transition: all 0.5s;
}
#container > div .share_wrap > ul > button > i {
  font-size: 0.8vw;
}
#container > div .share_wrap > ul > button:hover {
  background-color: #0C592E;
}
#container > div .recipes_slide_wrap {
  width: 100%;
  background-color: #14402B;
  padding-top: 4%;
}
#container > div .recipes_slide_wrap .title {
  width: 100%;
  margin: 0 auto;
  font-family: "HSBombaram21-Regular";
  font-size: 4vw;
  color: #FDE390;
  line-height: 240%;
  text-align: center;
}
#container > div .recipes_slide_wrap .title > img {
  width: 3.5vw;
  vertical-align: middle;
  margin: 0 1vw;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper {
  width: 100%;
  padding: 4% 0 0;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide {
  width: 26vw;
  height: 36vw;
  background-color: #f7e8bb;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide > img {
  height: 60%;
  width: 92%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 4% auto;
  border-radius: 10px;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts {
  width: 92%;
  margin: 4% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > h5 {
  font-family: "HSBombaram21-Regular";
  color: #14402B;
  font-size: 2vw;
  line-height: 200%;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > a {
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 1vw;
  color: #f7e8bb;
  background-color: #14402B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 4vw;
  font-size: 16px;
  text-align: center;
  transition: all 0.5s;
  margin-top: 10%;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > a:hover {
  background-color: #0C592E;
  border-radius: 5vw;
}
#container > div .recipes_slide_wrap .toAll {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
#container > div .recipes_slide_wrap .toAll > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  background-color: #14402B;
  color: #FDE390;
  font-weight: 800;
  font-size: 20px;
  line-height: 400%;
  margin-bottom: 4vw;
  border: 4px solid #FDE390;
  border-radius: 10px;
  transition: all 0.5s;
}
#container > div .recipes_slide_wrap .toAll > a > img {
  width: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
#container > div .recipes_slide_wrap .toAll > a:hover {
  background-color: #FDE390;
  color: #14402B;
}
#container > div .recipes_slide_wrap .toAll > a:hover > img {
  content: url("/img/star_marquee_DG.svg");
}

/* 미디어쿼리 1000 */
@media screen and (max-width: 1000px) {
  #container {
    /* 레시피 세부 페이지 */
  }
  #container > div {
    width: 100%;
  }
  #container > div > h2 {
    font-size: 10vw;
  }
  #container > div .img_wrap {
    width: 100%;
  }
  #container > div .img_wrap > a {
    justify-content: center;
    width: 20%;
  }
  #container > div .img_wrap > a > img {
    height: 8vw;
    margin-bottom: 1vw;
  }
  #container > div .img_wrap > a > span {
    font-size: 2vw;
    width: 50%;
    word-break: keep-all;
    text-align: center;
  }
  #container > div .img_wrap > a:nth-child(1) {
    flex-direction: column-reverse;
  }
  #container > div .img_wrap > a:nth-child(3) {
    flex-direction: column;
  }
  #container > div .img_wrap > a:nth-child(3) > img {
    margin-top: 10%;
  }
  #container > div .img_wrap > a:hover > span {
    opacity: 1;
  }
  #container > div .img_wrap .thumbnail {
    height: 50vw;
  }
  #container > div .about_recipe_wrap {
    width: 95%;
    justify-content: center;
    flex-direction: column;
  }
  #container > div .about_recipe_wrap > div {
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 4vw;
  }
  #container > div .about_recipe_wrap > div > h3 {
    font-size: 2.5vw;
  }
  #container > div .about_recipe_wrap > div > p {
    width: 50%;
    margin: 0 auto;
    font-size: 3vw;
    line-height: 200%;
  }
  #container > div .about_recipe_wrap > div > ul > li {
    font-size: 3vw;
    line-height: 200%;
  }
  #container > div .share_wrap {
    width: 95%;
  }
  #container > div .share_wrap > img {
    width: 8vw;
    margin: 4% auto 8%;
  }
  #container > div .share_wrap > p {
    width: 50%;
    word-break: keep-all;
    font-size: 3vw;
    line-height: 120%;
  }
  #container > div .share_wrap > ul > button {
    width: 6vw;
    height: 6vw;
    margin: 1vw 1vw;
  }
  #container > div .share_wrap > ul > button > i {
    font-size: 2vw;
  }
  #container > div .recipes_slide_wrap {
    width: 100%;
    background-color: #14402B;
    padding-top: 4%;
  }
  #container > div .recipes_slide_wrap .title {
    font-size: 5vw;
  }
  #container > div .recipes_slide_wrap .title > img {
    width: 3.5vw;
    vertical-align: middle;
    margin: 0 1vw;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide {
    width: 36vw;
    height: 48vw;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide > img {
    height: 60%;
    width: 92%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    margin: 4% auto;
    border-radius: 10px;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts {
    width: 92%;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > h5 {
    font-size: 3vw;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > a {
    width: 15vw;
    height: 6vw;
    font-size: 16px;
    margin-top: 4%;
  }
  #container > div .recipes_slide_wrap .toAll {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  #container > div .recipes_slide_wrap .toAll > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard";
    background-color: #14402B;
    color: #FDE390;
    font-weight: 800;
    font-size: 20px;
    line-height: 400%;
    margin-bottom: 4vw;
    border: 4px solid #FDE390;
    border-radius: 10px;
    transition: all 0.5s;
  }
  #container > div .recipes_slide_wrap .toAll > a > img {
    width: 20px;
    margin: 0 10px;
    transition: all 0.5s;
  }
  #container > div .recipes_slide_wrap .toAll > a:hover {
    background-color: #FDE390;
    color: #14402B;
  }
  #container > div .recipes_slide_wrap .toAll > a:hover > img {
    content: url("/img/star_marquee_DG.svg");
  }
}
/* 미디어쿼리 500 */
@media screen and (max-width: 500px) {
  #container > div {
    width: 100%;
  }
  #container > div > h2 {
    font-size: 13vw;
  }
  #container > div .img_wrap {
    width: 95%;
  }
  #container > div .img_wrap .thumbnail {
    height: 50vw;
  }
  #container > div .about_recipe_wrap > div > h3 {
    font-size: 3.5vw;
  }
  #container > div .about_recipe_wrap > div > ul > li {
    font-size: 5vw;
  }
  #container > div .about_recipe_wrap > div > p {
    font-size: 5vw;
    width: 80%;
  }
  #container > div .share_wrap > img {
    width: 12vw;
  }
  #container > div .share_wrap > p {
    width: 70%;
    font-size: 4vw;
  }
  #container > div .share_wrap > ul > button {
    width: 8vw;
    height: 8vw;
    margin: 1vw;
  }
  #container > div .share_wrap > ul > button > i {
    font-size: 4vw;
  }
  #container > div .recipes_slide_wrap .title {
    font-size: 6vw;
  }
  #container > div .recipes_slide_wrap .title > img {
    width: 4vw;
    margin: 0 0.5vw;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide {
    width: 50vw;
    height: 65vw;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide > img {
    height: 60%;
    width: 92%;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > h5 {
    font-size: 4vw;
  }
  #container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > a {
    font-size: 1vw;
    width: 20vw;
    height: 8vw;
    margin-top: 4%;
  }
  #container > div .recipes_slide_wrap .toAll {
    margin-top: 50px;
  }
  #container > div .recipes_slide_wrap .toAll > a {
    font-size: 3vw;
    line-height: 400%;
  }
  #container > div .recipes_slide_wrap .toAll > a > img {
    width: 3vw;
    margin: 1vw;
  }
  #container > div .recipes_slide_wrap .toAll > a:hover {
    background-color: #FDE390;
    color: #14402B;
  }
  #container > div .recipes_slide_wrap .toAll > a:hover > img {
    content: url("/img/star_marquee_DG.svg");
  }
}