@charset "UTF-8";
@keyframes bannermove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
body.show {
  overflow-y: hidden;
  transition: all 0.7s;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 76px;
  background-color: #f7e8bb;
  z-index: 10;
}
#header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
#header .center > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .center > div > a {
  color: #14402B;
  font-family: "Pretendard";
  font-weight: 900;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.5s;
}
#header .center > div > button {
  border: none;
  outline: none;
  background-color: transparent;
}
#header .center > div > button > span {
  color: #14402B;
  transition: all 0.5s;
}
#header .center .menu_wrap > a {
  margin-left: 40px;
}
#header .center .menu_wrap button {
  position: relative;
  width: 40px;
  height: 36px;
  cursor: pointer;
}
#header .center .menu_wrap button .line {
  display: block;
  background-color: #14402B;
  height: 4px;
  position: absolute;
  left: 50%;
}
#header .center .menu_wrap button .line.one {
  width: 36px;
  transform: rotate(0deg);
  top: 35%;
}
#header .center .menu_wrap button .line.two {
  width: 28px;
  transform: rotate(0deg);
  top: 65%;
}
#header .center .menu_wrap button.show .line {
  width: 28px;
}
#header .center .menu_wrap button.show .line.one {
  transform: rotate(45deg);
  top: 50%;
}
#header .center .menu_wrap button.show .line.two {
  transform: rotate(-45deg);
  top: 50%;
}
#header .center .logo_wrap a img {
  height: 56px;
}
#header .center .buy_wrap > a {
  margin: 0 16px;
}
#header .center .buy_wrap button {
  cursor: pointer;
}
#header .center .buy_wrap button > span {
  font-size: 32px;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

.slide_gnb {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e8bb;
  transition: all 0.7s;
  opacity: 0;
  z-index: 0;
}
.slide_gnb > ul {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.slide_gnb > ul li {
  display: flex;
  align-items: center;
}
.slide_gnb > ul li a {
  font-size: 3.125vw;
  font-family: "HSBombaram21-Regular";
  color: #14402B;
  font-weight: normal;
  line-height: 240%;
  display: flex;
  align-items: center;
}
.slide_gnb > ul li a img {
  width: 2.5vw;
  opacity: 0;
  transition: all 0.5s;
  margin-right: 20px;
}
.slide_gnb > ul li a:hover img {
  opacity: 1;
}
.slide_gnb.show {
  top: 0;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  z-index: 9;
}

#container {
  width: 100vw;
  margin-top: 76px;
  background-color: #f7e8bb;
  overflow: hidden;
  /* 레시피 세부 페이지 */
}
#container > div {
  width: 100%;
}
#container > div > h2 {
  font-family: "HSBombaram21-Regular";
  text-align: center;
  color: #14402B;
  font-size: 7vw;
  line-height: 100%;
  width: 80%;
  margin: 40px auto 0px;
}
#container > div .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  margin: 2% auto;
}
#container > div .img_wrap > a {
  display: flex;
  align-items: center;
}
#container > div .img_wrap > a > img {
  height: 5vw;
}
#container > div .img_wrap > a > span {
  font-family: "HSBombaram21-Regular";
  font-size: 1vw;
  color: #14402B;
  opacity: 0;
  transition: all 0.5s;
}
#container > div .img_wrap > a:nth-child(1) > img {
  margin-right: 3vw;
  margin-left: 1.5vw;
}
#container > div .img_wrap > a:nth-child(3) > img {
  margin-left: 3vw;
  margin-right: 1.5vw;
  transform: scaleX(-1);
}
#container > div .img_wrap > a:hover > span {
  opacity: 1;
}
#container > div .img_wrap .thumbnail {
  display: flex;
  width: 50%;
  height: 32vw;
  border-radius: 12vw 12vw 0 0;
  overflow: hidden;
}
#container > div .img_wrap .thumbnail > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container > div .about_recipe_wrap {
  display: flex;
  width: 92%;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
#container > div .about_recipe_wrap > div {
  width: 30%;
  font-family: "HallymMjo";
  font-weight: 700;
  color: #14402B;
  word-break: keep-all;
  font-size: 1.5vw;
  line-height: 160%;
  letter-spacing: -0.1vw;
}
#container > div .about_recipe_wrap > div > h3 {
  font-family: "Pretendard";
  font-weight: 900;
  line-height: 400%;
  margin-bottom: 1%;
  font-size: 0.8vw;
  letter-spacing: 0.01vw;
}
#container > div .about_recipe_wrap > div > ul > li > a {
  color: #14402B;
}
#container > div .share_wrap {
  width: 92%;
  margin: 0 auto 4%;
  text-align: center;
}
#container > div .share_wrap > img {
  width: 4vw;
  display: block;
  margin: 8% auto 4%;
}
#container > div .share_wrap > p {
  width: 50%;
  margin: 0 auto 2%;
  word-break: keep-all;
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 1vw;
  color: #14402B;
}
#container > div .share_wrap > ul {
  display: flex;
  justify-content: center;
}
#container > div .share_wrap > ul > button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #f7e8bb;
  background-color: #14402B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  margin: 1vw 0.5vw;
  transition: all 0.5s;
}
#container > div .share_wrap > ul > button > i {
  font-size: 0.8vw;
}
#container > div .share_wrap > ul > button:hover {
  background-color: #0C592E;
}
#container > div .recipes_slide_wrap {
  width: 100%;
  background-color: #14402B;
  padding-top: 4%;
}
#container > div .recipes_slide_wrap .title {
  width: 100%;
  margin: 0 auto;
  font-family: "HSBombaram21-Regular";
  font-size: 4vw;
  color: #FDE390;
  line-height: 240%;
  text-align: center;
}
#container > div .recipes_slide_wrap .title > img {
  width: 3.5vw;
  vertical-align: middle;
  margin: 0 1vw;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper {
  width: 100%;
  padding: 4% 0 0;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide {
  width: 26vw;
  height: 36vw;
  background-color: #f7e8bb;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide > img {
  height: 60%;
  width: 92%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 4% auto;
  border-radius: 10px;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts {
  width: 92%;
  margin: 4% auto;
  padding-bottom: 4%;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > h5 {
  font-family: "HSBombaram21-Regular";
  color: #14402B;
  font-size: 2vw;
  line-height: 200%;
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > a {
  font-family: "Pretendard";
  color: #f7e8bb;
  background-color: #14402B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  font-size: 16px;
  margin-left: auto;
  margin-bottom: 4%;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
  transform: scale(1);
}
#container > div .recipes_slide_wrap .swiper.recipesSwiper .swiper-slide .texts > a:hover {
  background-color: #8C182D;
  transform: scale(1.2);
}
#container > div .recipes_slide_wrap .toAll {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
#container > div .recipes_slide_wrap .toAll > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  background-color: #14402B;
  color: #FDE390;
  font-weight: 800;
  font-size: 20px;
  line-height: 400%;
  margin-bottom: 4vw;
  border: 4px solid #FDE390;
  border-radius: 10px;
  transition: all 0.5s;
}
#container > div .recipes_slide_wrap .toAll > a > img {
  width: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
#container > div .recipes_slide_wrap .toAll > a:hover {
  background-color: #FDE390;
  color: #14402B;
}
#container > div .recipes_slide_wrap .toAll > a:hover > img {
  content: url("/img/star_marquee_DG.svg");
}

#footer {
  display: flex;
  justify-content: space-between;
  background-color: #f7e8bb;
  align-items: flex-start;
  width: 100vw;
}
#footer .left_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(1.4) saturate(1.4);
  overflow: hidden;
}
#footer .left_img > img {
  width: 110%;
}
#footer .right_wrap {
  color: #14402B;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .right_wrap > h4 {
  font-size: 3.2vw;
  font-family: "HSBombaram21-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
#footer .right_wrap > h4 > img {
  width: 30px;
}
#footer .right_wrap > h6 {
  font-family: "HallymMjo";
  line-height: 200%;
  width: 70%;
  word-break: keep-all;
  margin: 20px auto;
  font-size: 16px;
  font-weight: 300;
}
#footer .right_wrap > a {
  display: inline-block;
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: 900;
  color: #14402B;
  padding: 1vw 2vw;
  border-radius: 60px;
  border: 4px solid #14402B;
  margin-bottom: 3%;
  transition: all 0.5s;
}
#footer .right_wrap > a:hover {
  color: #f7e8bb;
  background-color: #0C592E;
  border-color: #0C592E;
}
#footer .right_wrap .sns_wrap {
  display: flex;
  width: 25%;
  margin: 0 auto 2vw;
  justify-content: space-between;
  align-items: center;
}
#footer .right_wrap .sns_wrap > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6vw;
  height: 2.6vw;
  border-radius: 50%;
  cursor: pointer;
}
#footer .right_wrap .sns_wrap > li > a {
  color: #14402B;
  font-size: 1.6vw;
  transition: all 0.5s;
  height: -moz-fit-content;
  height: fit-content;
}
#footer .right_wrap .sns_wrap > li:hover {
  background-color: #0C592E;
}
#footer .right_wrap .sns_wrap > li:hover > a {
  color: #f7e8bb;
}
#footer .right_wrap .bot_menus {
  font-family: "HSBombaram21-Regular";
  font-size: 1.9vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  gap: 1vw 0;
  margin-bottom: 2vw;
}
#footer .right_wrap .bot_menus > li > a {
  color: #14402B;
  display: flex;
  align-items: center;
}
#footer .right_wrap .bot_menus > li > a > img {
  width: 1.9vw;
  opacity: 0;
  transition: all 0.5s;
}
#footer .right_wrap .bot_menus > li:hover > a > img {
  opacity: 1;
}

.flow_icons {
  background-color: #f7e8bb;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100px;
  opacity: 1;
  padding: 40px 0;
}
.flow_icons .flow_wrap {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  animation: bannermove 20s linear infinite;
  width: 200%;
}
.flow_icons .flow_wrap > img {
  width: 11.11111%;
  padding: 0 60px;
}

/* 미디어쿼리 1000 */
@media screen and (max-width: 1000px) {
  #header .center {
    width: 95%;
  }
  #header .center > div > a {
    display: none;
  }
  .slide_gnb > ul {
    margin-right: 8%;
  }
  .slide_gnb > ul li {
    margin: 60px 0;
    justify-content: center;
  }
  .slide_gnb > ul li a {
    font-size: 5vw;
  }
  .slide_gnb > ul li a img {
    width: 4.5vw;
    margin-right: 10px;
  }
  #footer {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #footer .left_img {
    width: 90%;
    border-radius: 10%;
  }
  #footer .left_img > img {
    width: 120%;
  }
  #footer .right_wrap {
    width: 90%;
  }
  #footer .right_wrap > h4 {
    font-size: 8vw;
    line-height: 150%;
    letter-spacing: 1px;
    text-align: center;
  }
  #footer .right_wrap > h4 > img {
    margin: 10px;
  }
  #footer .right_wrap > h6 {
    font-size: 3vw;
    line-height: 200%;
  }
  #footer .right_wrap > a {
    padding: 1em 2em;
  }
  #footer .right_wrap > a:hover {
    color: #F9F69B;
    background-color: #0C592E;
    border-color: #0C592E;
  }
  #footer .right_wrap .sns_wrap {
    width: 50%;
    margin-bottom: 5%;
  }
  #footer .right_wrap .sns_wrap > li {
    width: 5vw;
    height: 5vw;
    cursor: pointer;
  }
  #footer .right_wrap .sns_wrap > li > a {
    font-size: 4vw;
  }
  #footer .right_wrap .bot_menus {
    font-size: 4vw;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    gap: 6vw;
  }
  #footer .right_wrap .bot_menus > li {
    width: 100%;
  }
  #footer .right_wrap .bot_menus > li > a {
    justify-content: center;
  }
  #footer .right_wrap .bot_menus > li > a > img {
    width: 4vw;
  }
  .flow_icons {
    width: 100vw;
  }
  .flow_icons .flow_wrap > img {
    width: 20%;
  }
}
/* 미디어쿼리 500 */
@media screen and (max-width: 500px) {
  #header .center .menu_wrap > a {
    margin-left: 20px;
  }
  #header .center > .logo_wrap {
    margin-left: 10px;
  }
  #header .center .buy_wrap button {
    margin-right: 10px;
  }
  .slide_gnb > ul {
    margin-right: 0%;
    left: 40%;
  }
  .slide_gnb > ul li {
    width: 120%;
  }
  .slide_gnb > ul li a {
    font-size: 10vw;
  }
  .slide_gnb > ul li a img {
    width: 6vw;
  }
  #footer .right_wrap > h6 {
    margin: 10px 0;
    font-size: 3.5vw;
  }
  #footer .right_wrap > ul.bot_menus {
    margin-right: 5%;
  }
  #footer .right_wrap > a {
    font-size: 3vw;
  }
  .flow_icons {
    width: 100vw;
  }
  .flow_icons .flow_wrap {
    width: 600%;
  }
  .flow_icons .flow_wrap > img {
    width: 25%;
    padding: 0px 30px;
  }
}